<div id="sub-tenant-modal">
  <div class="modal-header">
    <h3 class="modal-title" translate>mnoe_admin_panel.dashboard.staff.update_staff_clients.title</h3>
  </div>

  <div class="modal-body">
    <mno-widget icon="fa-sitemap" heading="{{$ctrl.events.widgetTitle}}" is-loading="vm.organizations.loading">
      <mno-widget-header>
        {{ 'mnoe_admin_panel.dashboard.staff.update_staff_clients.title' | translate}}
        <input ng-model="vm.organizations.search" ng-change="vm.searchChange()" placeholder="Search all"
               class="form-control input-sm search-bar"/>
      </mno-widget-header>
      <mno-widget-body class="no-padding">
        <table class="table table-layout-fixed">
          <thead>
          <tr>
            <th>Uid</th>
            <th>Name</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="organization in vm.organizations.list">
            <td>{{::organization.uid}}</td>
            <td>{{::organization.name}}</td>
            <td><input type="checkbox" ng-model="organization.belong_to_account_manager" ng-change="vm.checkBoxChanged(organization)"></td>
          </tr>
          </tbody>
        </table>
      </mno-widget-body>
    </mno-widget>
  </div>
  <div class="modal-footer">
    <div class="row actions">
      <div class="col-xs-12">
        <button type="button" ng-click="vm.onSubmit()" ng-disabled="vm.isDisable()" class="btn btn-primary">
          <span ng-show="vm.isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
          Save
        </button>
        <a href="" ng-click="vm.onCancel()"><i class="fa fa-times"></i> cancel</a>
      </div>
    </div>
  </div>
</div>
