@import "../../../bower_components/bootstrap/less/bootstrap.less";
@import "../../../bower_components/mno-ui-elements/dist/mno-ui-elements.less";

// Colors (https://color.adobe.com/Elemental-color-theme-7207545/)
@elemental-pink: #E54661;
@elemental-orange: #FFA644;
@elemental-green: #998A2F;
@elemental-aqua: #2C594F;
@elemental-blue: #002D40;

@color-danger: #d43f3a;

/* KPI themes */
@kpi-color-1: @mno-white;
@kpi-color-2: @mno-white;
@kpi-color-3: @mno-white;
@kpi-color-4: @mno-white;
@kpi-bg-color-1: @elemental-pink;
@kpi-bg-color-2: @elemental-orange;
@kpi-bg-color-3: @elemental-green;
@kpi-bg-color-4: @elemental-aqua;

