<mno-widget icon="fa-bar-chart" is-loading="$ctrl.dashboardTemplates.loading">
  <mno-widget-header>
    &nbsp;{{ 'mnoe_admin_panel.dashboard.dashboard_templates.widget.list.title' | translate}}
  </mno-widget-header>
  <mno-widget-body class="no-padding">
    <div>
      <table st-pipe="$ctrl.callServer" class="table table-striped" st-table="$ctrl.dasboardTemplates.list">
        <thead>
          <tr>
            <th st-sort="name" class="col-lg-2" translate>mnoe_admin_panel.dashboard.dashboard_templates.widget.list.template_name</th>
            <th class="col-lg-2" translate>mnoe_admin_panel.dashboard.dashboard_templates.widget.list.status</th>
            <th class="col-lg-2" translate>mnoe_admin_panel.dashboard.dashboard_templates.widget.list.created</th>
            <th class="col-lg-2" translate>mnoe_admin_panel.dashboard.dashboard_templates.widget.list.updated</th>
            <th></th>
          </tr>
          <tr>
            <th>
              <input st-search="name" placeholder="{{'mnoe_admin_panel.dashboard.dashboard_templates.widget.list.search' | translate}}" class="form-control input-sm search-bar" type="text"/>
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="dashboardTemplate in $ctrl.dashboardTemplates.list">
            <td ng-show="!dashboardTemplate.editMode" title="{{ dashboardTemplate.full_name }}">{{ dashboardTemplate.name }}</td>
            <td ng-show="dashboardTemplate.editMode">
              <input placeholder="{{ dashboardTemplate.name }}" ng-model="dashboardTemplate.newName" class="form-control input-sm" type="text"/>
            </td>
            <td>{{ dashboardTemplate.status }}</td>
            <td>{{ dashboardTemplate.created_at | amCalendar }}</td>
            <td>{{ dashboardTemplate.updated_at | amCalendar }}</td>
            <td>
              <!-- Default mode -->
              <div class="pull-right" ng-show="!dashboardTemplate.editMode">
                <div class="btn-group">
                  <a type="button" class="btn btn-primary" ng-click="$ctrl.toggleEditMode(dashboardTemplate)">
                    <i class="fa fa-pencil" aria-hidden="true" ></i>
                  </a>
                </div>
                <div class="btn-group" ng-click="$ctrl.openDeleteModal(dashboardTemplate.id)">
                  <a type="button" class="btn btn-primary" >
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
              <!-- Edit mode -->
              <div class="pull-right" ng-show="dashboardTemplate.editMode">
                <div class="btn-group">
                  <a type="button" class="btn btn-primary" ng-click="$ctrl.update(dashboardTemplate)">
                    <i class="fa fa-check" aria-hidden="true" ></i>
                  </a>
                </div>
                <div class="btn-group" ng-click="$ctrl.toggleEditMode(dashboardTemplate)">
                  <a type="button" class="btn btn-primary" >
                    <i class="fa fa-times" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mno-widget-body>
  <mno-widget-footer ng-show="$ctrl.dashboardTemplates.list">
    <mno-pagination
      page="$ctrl.dashboardTemplates.page"
      nb-items="$ctrl.dashboardTemplates.nbItems"
      total-items="$ctrl.dashboardTemplates.totalItems"
      on-change-cb="$ctrl.dashboardTemplates.pageChangedCb(nbItems, page)"
      is-loading="$ctrl.dashboardTemplates.loading">
    </mno-pagination>
  </mno-widget-footer>
</mno-widget>
