<mno-widget icon="fa-users" heading="{{users.widgetTitle | translate:{length: list.length} }}" is-loading="!list">
  <mno-widget-header>
    &nbsp;<a href="" ng-click="switchState()" ng-show="list && users.switchLinkTitle" translate>{{users.switchLinkTitle}}</a>
    <input type="text" ng-model="users.search" ng-change="searchChange()" placeholder="{{ 'mnoe_admin_panel.dashboard.users.widget.local_list.search_users.placeholder.search_all' | translate}}" class="form-control input-sm search-bar" />
  </mno-widget-header>
  <mno-widget-body class="medium no-padding">
    <table class="table table-layout-fixed">
      <thead>
        <tr>
          <th translate>mnoe_admin_panel.dashboard.users.widget.local_list.table.username</th>
          <th style="width: 100px;" translate>mnoe_admin_panel.dashboard.users.widget.local_list.table.creation</th>
          <th style="width: 140px;" translate>mnoe_admin_panel.dashboard.users.widget.local_list.table.status</th>
          <th style="width: 140px;" ng-if="isImpersonationEnabled"></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="user in users.displayList">
          <td>
            <a ui-sref="dashboard.customers.user({userId: user.id})">
              <div ng-show="user.name && user.surname">{{::user.name}} {{::user.surname}}</div>
              <div ng-show="!user.name && !user.surname">nc</div>
              <small>{{::user.email}}</small>
            </a>
          </td>
          <td>{{user.created_at | date: 'dd/MM/yyyy'}}</td>
          <td>
            <button ng-show="user.status === 'pending'" ng-click="sendInvitation(user)" class="btn btn-xs btn-default" ng-disabled="user.isSendingInvite">
              <span ng-show="user.isSendingInvite"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
              {{'mnoe_admin_panel.dashboard.users.widget.local_list.invite' | translate}}
            </button>
            <button ng-show="user.status === 'invited'" ng-click="sendInvitation(user)" class="btn btn-xs btn-default" ng-disabled="user.isSendingInvite">
              <span ng-show="user.isSendingInvite"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
              {{'mnoe_admin_panel.dashboard.users.widget.local_list.resend_invite' | translate}}
            </button>
            <span ng-show="user.status === 'active'" translate>mnoe_admin_panel.dashboard.users.widget.local_list.active</span>
          </td>
          <td>
            <mnoe-impersonate-button btn-class-names="btn btn-xs btn-default" user="user"></mnoe-impersonate-button>
          </td>
        </tr>
      </tbody>
    </table>
  </mno-widget-body>
</mno-widget>
