<div id="organization">
  <div class="row">
    <div class="col-xs-12">
      <h1 translate>mnoe_admin_panel.dashboard.organization.organization_info</h1>

      <mno-widget is-loading="!vm.organization.invoices" icon="fa-sitemap" heading="{{vm.organization.name}}">
        <mno-widget-header></mno-widget-header>
        <mno-widget-body>
          <div class="bs-row row">
            <div class="col-xs-6">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.organization.uid</div>
            </div>
            <div class="col-xs-6">
              {{vm.organization.uid}}
            </div>
          </div>
          <div class="bs-row row">
            <div class="col-xs-6">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.organization.credit_card</div>
            </div>
            <div class="col-xs-6">
              <span ng-if="vm.organization.credit_card.presence" class="text-success" translate>mnoe_admin_panel.dashboard.organization.credit_card.presence.yes</span>
              <span ng-if="!vm.organization.credit_card.presence" class="text-danger" translate="">mnoe_admin_panel.dashboard.organization.credit_card.presence.no</span>
            </div>
          </div>
          <div class="bs-row row">
            <div class="col-sm-6"><div class="label-cell">{{'mnoe_admin_panel.dashboard.organization.active_apps' | translate}}
              <a ng-if="vm.organization.active_apps.length > 0 && vm.hasDisconnectedApps" ui-sref="dashboard.customers.connect-app({orgId: vm.organization.id})" translate>mnoe_admin_panel.dashboard.organization.connect_apps</a></div></div>
            <div class="col-sm-6">
              <div class="bs-row row apps-box">
                <div class="app-wrapper col-xs-6 col-sm-4 col-md-3" ng-repeat="app in vm.organization.active_apps">
                  <div class="small-app-card ellipsis">
                    <i ng-if="::main.adminConfig.isAppManagementEnabled()" class="fa fa-trash app-remove" ng-click="vm.openRemoveAppModal(app, $index)" uib-tooltip="{{'mnoe_admin_panel.dashboard.organization.remove_app' | translate:{'app_name': app.app_name} }}" tooltip-append-to-body="true"></i>
                    <i ng-show="vm.status[app.nid]" class="fa fa-check-circle app-state state-success" uib-tooltip="{{'mnoe_admin_panel.dashboard.organization.app_connected' | translate:{'app_name': app.app_name} }}" tooltip-append-to-body="true"></i>
                    <i ng-show="!vm.status[app.nid]" class="fa fa-exclamation-circle app-state state-warning" uib-tooltip="{{'mnoe_admin_panel.dashboard.organization.app_not_connected' | translate:{'app_name': app.app_name} }}" tooltip-append-to-body="true"></i>
                    <img ng-src="{{::app.app_logo}}" width="60">
                    <span>{{::app.app_name}}</span>
                  </div>
                </div>
                <div class="app-wrapper col-xs-6 col-sm-4 col-md-3" ng-if="::main.adminConfig.isAppManagementEnabled()">
                  <div class="small-app-card ellipsis add-app" ng-click="vm.openAddAppModal()">
                    <span>{{'mnoe_admin_panel.dashboard.organization.add_an_app' | translate}}<i class="fa fa-plus"></i></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </mno-widget-body>
      </mno-widget>
    </div>
  </div>
  <div class="row" ng-if="::main.adminConfig.isUserManagementEnabled()">
    <div class="col-xs-12 top-buffer-1">
      <button role="button" ng-click="vm.users.createUserModal()" ng-disabled="!vm.organization" class="btn btn-primary" translate>
        mnoe_admin_panel.dashboard.organization.add_a_user
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mnoe-users-local-list list="vm.organization.members" organization="vm.organization" view="all"></mnoe-users-local-list>
    </div>
    <div class="col-md-6" ng-if="::main.adminConfig.isFinanceEnabled()">
      <mno-widget icon="fa-file-text-o" heading="{{'mnoe_admin_panel.dashboard.organization.invoices.title' | translate}}" is-loading="!vm.organization.invoices" >
        <mno-widget-header></mno-widget-header>
        <mno-widget-body class="medium no-padding">
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th translate>mnoe_admin_panel.dashboard.organization.invoices.table.start</th>
                  <th translate>mnoe_admin_panel.dashboard.organization.invoices.table.end</th>
                  <th translate>mnoe_admin_panel.dashboard.organization.invoices.table.amount</th>
                  <th class="text-center" translate>mnoe_admin_panel.dashboard.organization.invoices.table.paid</th>
                  <th class="text-center"></th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="invoice in vm.organization.invoices">
                  <td>{{invoice.started_at | date: 'dd/MM/yyyy'}}</a></td>
                  <td>{{invoice.ended_at | date: 'dd/MM/yyyy'}}</td>
                  <td>{{invoice.amount.options.iso_code}} {{invoice.amount.value}}</td>
                  <td class="text-center">
                    <span ng-if="invoice.paid" class="text-success" translate>mnoe_admin_panel.dashboard.organization.invoices.table.yes</span>
                    <span ng-if="!invoice.paid" class="text-danger" translate>mnoe_admin_panel.dashboard.organization.invoices.table.no</span>
                  </td>
                  <td class="text-center">
                    <a ng-if="invoice.link" ng-href="{{invoice.link}}" target="_blank">
                      <i class="fa fa-cloud-download"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </mno-widget-body>
      </mno-widget>
    </div>
  </div>
</div>
