<div class="row">
  <div class="col-lg-3 col-md-6 col-xs-12">
    <mno-kpi class="kpi-color-1" description="Users" icon="fa-users"
             value="{{vm.users.kpi.total_count}}"
             loading="!vm.users.kpi" mno-ui-sref="dashboard.customers" link-text="{{vm.users.kpi.new_month_count}} new this current month"></mno-kpi>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12">
    <mno-kpi class="kpi-color-2" description="Organizations" icon="fa-sitemap"
             value="{{vm.organizations.kpi.total_count}}"
             loading="!vm.organizations.kpi" mno-ui-sref="dashboard.customers" link-text="{{vm.organizations.kpi.with_cc_count}} with a credit card"></mno-kpi>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12">
    <mno-kpi class="kpi-color-3" description="Last customer invoicing" icon="fa-file-text-o"
             value="{{vm.invoices.lastInvoicingAmount.amount}}" unit="{{vm.invoices.lastInvoicingAmount.currency}}"
             loading="!vm.invoices.lastInvoicingAmount" mno-ui-sref="dashboard.finance" link-text="{{vm.organizations.kpi.with_cc_count}} with a credit card"></mno-kpi>
  </div>

  <div class="col-lg-3 col-md-6 col-xs-12">
    <mno-kpi class="kpi-color-4" description="Still to be paid" icon="fa-money"
             value="{{vm.invoices.outstandingAmount.amount}}" unit="{{vm.invoices.outstandingAmount.currency}}"
             loading="!vm.invoices.outstandingAmount" mno-ui-sref="dashboard.finance" link-text="{{vm.organizations.kpi.with_cc_count}} with a credit card"></mno-kpi>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <mnoe-users-list view="last"></mnoe-users-list>
  </div>
  <div class="col-md-6">
    <mnoe-organizations-list view="last"></mnoe-organizations-list>
  </div>
</div>
