<h1 translate>mnoe_admin_panel.dashboard.new_product.new_product</h1>
<a ui-sref="dashboard.products" class="text-muted">
  <i class="fa fa-chevron-left"></i><span translate>mnoe_admin_panel.dashboard.new_product.back</span>
</a>
<mno-widget id="" icon="fa-tag" heading="{{'mnoe_admin_panel.dashboard.new_product.create_product' | translate}}">
  <mno-widget-header></mno-widget-header>
  <mno-widget-body>
    <form name="vm.form.product">
      <div class="text-center">
        <h3 translate>mnoe_admin_panel.dashboard.new_product.product_details</h3>
      </div>
      <!-- product details -->
      <div class="row top-buffer-1">
        <div class="form-group">
          <div class="col-xs-2">  
            <label class="control-label" translate>mnoe_admin_panel.dashboard.new_product.name</label>
            <input type="text" ng-model="vm.product.name" class="form-control" required></input>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-2">
            <label class="control-label" translate>mnoe_admin_panel.dashboard.new_product.status</label>
            <select class="form-control" ng-model="vm.product.status">
              <option value="" translate="">mnoe_admin_panel.dashboard.new_product.draft</option>
              <option translate="">mnoe_admin_panel.dashboard.new_product.published</option>
            </select>
          </div>
        </div>
      </div>
      <!-- End product details -->
      <div class="text-center">
        <h3 translate>mnoe_admin_panel.dashboard.new_product.pricing_options</h3>
      </div>
      <!-- pricing details  -->
      <div class="row top-buffer-1">
        <div class="form-group">
          <div class="col-xs-2">    
            <label class="control-label" translate>mnoe_admin_panel.dashboard.new_product.pricing_name</label>
            <input type="text" ng-model="vm.pricing.name" class="form-control" required></input>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-2">  
            <label class="control-label" translate>mnoe_admin_panel.dashboard.new_product.pricing_description</label>
            <input type="text" ng-model="vm.pricing.description" class="form-control" required></input>
          </div>
        </div>
      </div>
      <div class="row top-buffer-2">
        <div class="form-inline" ng-show="!vm.pricing.free">
          <div class="col-xs-10">
            <label class="control-label" translate>mnoe_admin_panel.dashboard.new_product.price_usd</label>
            <input class="form-control input-mini" ng-model="vm.prices.USD"></input>
            <label class="control-label" translate>mnoe_admin_panel.dashboard.new_product.price_aud</label>
            <input class="form-control input-mini" ng-model="vm.prices.AUD"></input>
            <label class="control-label" translate>mnoe_admin_panel.dashboard.new_product.price_eur</label>
            <input class="form-control input-mini" ng-model="vm.prices.EUR"></input>
            <label class="control-label input-mini" translate>mnoe_admin_panel.dashboard.new_product.per</label>
            <select class="form-control" ng-model="vm.pricing.per_unit">
              <option>user</option>
              <option>organization</option>
            </select>
            <label class="control-label" translate>mnoe_admin_panel.dashboard.new_product.duration</label>
            <select class="form-control input-mini" ng-model="vm.pricing.per_duration">
              <option>month</option>
              <option>year</option>
            </select>
          </div>
        </div>
      </div>
      <!-- free trial -->
      <div class="form-group top-buffer-1" ng-show="!vm.pricing.free">
        <label class="control-label" translate>mnoe_admin_panel.dashboard.new_product.free_trial</label>
        <input type="checkbox" ng-model="vm.pricing.free_trial_enabled" class="input-mini">
      </div>
      <div class="row">
        <div class="form-group" ng-show="vm.pricing.free_trial_enabled">
          <div class="col-xs-2">
            <label class="control-label"></label>
            <select class="form-control input-mini" ng-model="vm.pricing.free_trial_duration">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
              <option>9</option>
              <option>10</option>
              <option>11</option>
              <option>12</option>
            </select>
          </div>
        </div>
        <div class="form-group" ng-show="vm.pricing.free_trial_enabled">
          <div class="col-xs-2">
            <label class="control-label"></label>
            <select class="form-control input-mini" ng-model="vm.pricing.free_trial_unit">
              <option>day</option>
              <option>week</option>
              <option>month</option>
            </select>
          </div>
        </div>
      </div>
      <!-- free trial end -->
      <!-- free -->
      <div class="form-group top-buffer-1">
        <label class="control-label" translate>mnoe_admin_panel.dashboard.new_product.free</label>
        <input type="checkbox" ng-model="vm.pricing.free" class="input-mini" >
      </div>
      <!-- free end -->
      <div class="form-group">
        <button type="submit" class="btn btn-danger top-buffer-2" ng-click="vm.submitProduct()" ng-disabled="">
          <span ng-show="vm.isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
          {{ 'mnoe_admin_panel.dashboard.new_product.save' | translate }}
        </button>
      </div>
    </form>
  </mno-widget-body>
</mno-widget>
