<h1 translate>mnoe_admin_panel.dashboard.edit_product.edit_product</h1>
<a ui-sref="dashboard.products" class="text-muted">
  <i class="fa fa-chevron-left"></i><span translate>mnoe_admin_panel.dashboard.edit_product.back</span>
</a>
<mno-widget id="" icon="fa-tag" heading="{{'mnoe_admin_panel.dashboard.edit_product.create_product' | translate}}">
  <mno-widget-header></mno-widget-header>
  <mno-widget-body>
    <form name="vm.form.product">
      <div class="text-center">
        <h3 translate>mnoe_admin_panel.dashboard.edit_product.product_details</h3>
      </div>
      <div class="form-group">
        <label class="control-label" for="" translate>mnoe_admin_panel.dashboard.edit_product.name</label>
        <input type="text" ng-model="vm.product.name" class="form-control"></input>
      </div>
      <div class="form-group">
        <label class="control-label" translate>mnoe_admin_panel.dashboard.new_product.status</label>
        <select class="form-control" ng-model="vm.product.status">
          <option ng-if="vm.product.active" value="" translate>mnoe_admin_panel.dashboard.edit_product.published</option>
          <option ng-if="vm.product.active" translate>mnoe_admin_panel.dashboard.edit_product.draft</option>
          <option ng-if="!vm.product.active" value="" translate="">mnoe_admin_panel.dashboard.edit_product.draft</option>
          <option ng-if="!vm.product.active" translate="">mnoe_admin_panel.dashboard.edit_product.published</option>
        </select>
      </div>
      <div class="text-center">
        <h3 translate>mnoe_admin_panel.dashboard.edit_product.pricing_options</h3>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-danger top-buffer-2" ng-click="vm.submitProduct()">
          <span ng-show="vm.isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
          {{ 'mnoe_admin_panel.dashboard.new_product.save' | translate }}
        </button>
      </div>
    </form>
  </mno-widget-body>
</mno-widget>
