<div class="row">
  <div class="col-xs-12 col-lg-10 col-lg-offset-1 col-md-12 col-sm-12 top-buffer-1">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 bottom-buffer-1">
        <a class="btn btn-large btn-primary" ng-hide="vm.isAccountManager" ng-click="vm.createProduct()" translate>mnoe_admin_panel.dashboard.products.create_new_product</a>
      </div>
      <div class="col-lg-7 col-md-7 col-sm-8 col-xs-12" ng-if="vm.developerOnboardingURL">
       <a ng-href="{{vm.developerOnboardingURL}}" target="_blank" translate>mnoe_admin_panel.dashboard.products.developer_onboarding_link</a>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <mnoe-products-list></mnoe-products-list>
  </div>
</div>
