<div id="product" class="top-buffer-1">
  <div class="clearfix bottom-buffer-1">
    <a ui-sref="dashboard.products" class="text-muted">
      <i class="fa fa-chevron-left"></i>&nbsp;<span translate>mnoe_admin_panel.dashboard.product.back</span>
    </a>

    <toggle ng-model="vm.product.active" ng-change="vm.updateStatus()" on="Published" off="Draft" class="pull-right" ng-show="!vm.isLoading"></toggle>
  </div>

  <!-- description section -->
  <mno-widget icon="fa-tag" heading="{{'mnoe_admin_panel.dashboard.product.product_description' | translate}}" is-loading="vm.isLoading">
    <mno-widget-header></mno-widget-header>
    <mno-widget-body>
      <form name="vm.form.product.description">
        <mno-section heading="{{'mnoe_admin_panel.dashboard.product.name' | translate}}">
          <input ng-model="vm.product.name" class="form-control" required>
        </mno-section>

        <mno-section heading="{{'mnoe_admin_panel.dashboard.product.supplier' | translate}}">
          <input ng-model="vm.product.values_display['Supplier']" class="form-control">
        </mno-section>

        <mno-section heading="{{'mnoe_admin_panel.dashboard.product.tiny_description' | translate}}">
          <input ng-model="vm.product.values_display['Tiny description']" class="form-control">
        </mno-section>

        <mno-section heading="{{'mnoe_admin_panel.dashboard.product.key_benefits' | translate}}">
          <mno-multiple-string-field ng-model="vm.product.values_display['Key benefits']" command="vm.componentsCommand"></mno-multiple-string-field>
        </mno-section>

        <mno-section heading="{{'mnoe_admin_panel.dashboard.product.getting_started' | translate}}">
          <text-angular ng-model="vm.product.values_display['Getting started']"></text-angular>
        </mno-section>

        <mno-section class="btn-box">
          <button class="btn btn-primary top-buffer-1" ng-click="vm.updateProduct()" ng-disabled="vm.isLoadingProduct" translate>
            mnoe_admin_panel.dashboard.product.submit
          </button>
        </mno-section>
      </form>
    </mno-widget-body>
  </mno-widget>

  <!-- Pricing section -->
  <mno-widget icon="fa-tag" heading="{{'mnoe_admin_panel.dashboard.product.product_pricing' | translate}}" is-loading="vm.isLoading">
    <mno-widget-header></mno-widget-header>
    <mno-widget-body>
      <mno-section heading="{{'mnoe_admin_panel.dashboard.product.free_trial' | translate}}">
        <form name="vm.formFreeTrial">
          <div class="input-group input-group-sm">
            <span class="input-group-addon">
              <input type="checkbox" ng-model="vm.product.free_trial_enabled">
            </span>
            <input type="number" ng-model="vm.product.free_trial_duration" min="0" class="form-control" placeholder="{{'mnoe_admin_panel.dashboard.product.free_trial_duration' | translate}}" ng-disabled="!vm.product.free_trial_enabled">
            <span class="input-group-addon select">
              <select ng-model="vm.product.free_trial_unit" ng-disabled="!vm.product.free_trial_enabled">
                <option value="days">{{'mnoe_admin_panel.dashboard.pricing.freetrial.unit_day' | translate}}</option>
                <option value="weeks">{{'mnoe_admin_panel.dashboard.pricing.freetrial.unit_week' | translate}}</option>
                <option value="months">{{'mnoe_admin_panel.dashboard.pricing.freetrial.unit_month' | translate}}</option>
                <option value="years">{{'mnoe_admin_panel.dashboard.pricing.freetrial.unit_year' | translate}}</option>
              </select>
            </span>
          </div>

          <button class="btn btn-sm btn-primary top-buffer-1" ng-click="vm.saveFreeTrial()" ng-disabled="vm.formFreeTrial.$pristine">
            {{'mnoe_admin_panel.dashboard.pricing.freetrial.save' | translate}}
          </button>
        </form>
      </mno-section>

      <mno-section id="plans" heading="{{'mnoe_admin_panel.dashboard.product.pricing_plans' | translate}}">
        <button class="btn btn-link bottom-buffer-1" ng-click="vm.addPricingPlan()">
          <i class="fa fa-plus"></i> {{'mnoe_admin_panel.dashboard.product.add_pricing_plan' | translate}}
        </button>
        <ul class="list-group" ng-model="vm.product.product_pricings">
          <li id="pricing-plans-list" class="list-group-item" ng-repeat="pricingPlan in vm.product.product_pricings">
            <div class="pricing-plan" ng-if="!vm.isCurrentPricingPlan(pricingPlan)">
              <span class="close">
                <i class="fa fa-edit" ng-click="vm.editPricingPlan(pricingPlan)"></i>
                <i class="fa fa-times" ng-click="vm.deletePricingPlan(pricingPlan)"></i>
              </span>
              <span>
                <h4>{{pricingPlan.name}}</h4>
                <p>{{pricingPlan.description}}</p>
                <div ng-switch on="pricingPlan.pricing_type">
                  <p ng-switch-when='recurring'>
                    <span class="badge">
                      <span ng-repeat="price in pricingPlan.prices" class="price">
                        {{price.currency}} {{price.price_cents / 100}}
                      </span>
                    </span>
                    <strong>&nbsp;/&nbsp;{{pricingPlan.per_unit}}&nbsp;/&nbsp;{{pricingPlan.per_duration}}</strong>
                  </p>
                  <p ng-switch-when='one_off'>
                    <span class="badge">
                      <span ng-repeat="price in pricingPlan.prices" class="price">
                        {{price.currency}} {{price.price_cents / 100}}
                      </span>
                    </span>
                    <strong>{{'mnoe_admin_panel.dashboard.pricing.pricing_plans.edition.one_off' | translate}}</strong>
                  </p>
                  <p ng-switch-when='payg'>
                    <span class="badge">
                      {{'mnoe_admin_panel.dashboard.pricing.pricing_plans.edition.usage_based' | translate}}
                    </span>
                  </p>
                </div>
              </span>
            </div>
            <div class="pricing-plan-edition" ng-if="vm.isCurrentPricingPlan(pricingPlan)">
              <form name="vm.pricingPlanForm" class="form" novalidate>
                <div class="form-group">
                  <label class="control-label top-buffer-1">Name</label>
                  <input name="name" ng-model="pricingPlan.name" class="form-control" placeholder="name" required>
                </div>
                <div class="form-group">
                  <label class="control-label top-buffer-1">Description</label>
                  <input name="description" ng-model="pricingPlan.description" class="form-control" placeholder="description">
                </div>
                <div class="form-group">
                  <label class="control-label top-buffer-1">{{'mnoe_admin_panel.dashboard.pricing.pricing_plans.pricing_type' | translate}}</label>
                  <select class="form-control" ng-model="pricingPlan.pricing_type" required>
                    <option value="recurring">{{'mnoe_admin_panel.dashboard.pricing.pricing_plans.pricing_type.recurring' | translate}}</option>
                    <option value="one_off">{{'mnoe_admin_panel.dashboard.pricing.pricing_plans.pricing_type.one_off' | translate}}</option>
                    <option value="payg">{{'mnoe_admin_panel.dashboard.pricing.pricing_plans.pricing_type.payg' | translate}}</option>
                  </select>
                </div>
                <div class="row pricing-plan-edition-recurring" ng-show="pricingPlan.pricing_type == 'recurring'">
                  <div class="form-group col-md-6">
                    <label class="control-label top-buffer-1">{{'mnoe_admin_panel.dashboard.pricing.pricing_plans.edition.unit' | translate}}</label>
                    <select class="form-control" ng-model="pricingPlan.per_unit" required>
                      <option value="" disabled selected hidden>{{'mnoe_admin_panel.dashboard.pricing.pricing_plans.edition.unit' | translate}}</option>
                      <option value="organization">Organization</option>
                      <option value="user">User</option>
                    </select>
                  </div>
                  <div class="form-group col-md-6">
                    <label class="control-label top-buffer-1">{{'mnoe_admin_panel.dashboard.pricing.pricing_plans.edition.duration' | translate}}</label>
                    <select class="form-control" ng-model="pricingPlan.per_duration" required>
                      <option value="" disabled selected hidden>{{'mnoe_admin_panel.dashboard.pricing.pricing_plans.edition.duration' | translate}}</option>
                      <option value="hour">Hour</option>
                      <option value="day">Day</option>
                      <option value="week">Week</option>
                      <option value="month">Month</option>
                      <option value="years">Year</option>
                    </select>
                  </div>
                </div>
              </form>

              <div class="form-group" ng-show="pricingPlan.pricing_type == 'recurring' || pricingPlan.pricing_type == 'one_off'">
                <label class="control-label">{{'mnoe_admin_panel.dashboard.pricing.pricing_plans.edition.prices' | translate}}</label>
                <ul id="prices-list" class="list-group">
                  <!-- Prices list -->
                  <li class="list-group-item price" ng-repeat="price in pricingPlan.prices | orderBy:'currency' track by $index">
                    <input type="text" name="price_currency" ng-model="price.currency" class="form-control newprice-price" disabled>
                    <input type="number" min="0.01" step="0.01" name="price_price_cents" ng-model="price.price_cents" currency-cents-input class="form-control newprice-price" placeholder="{{'mnoe_admin_panel.dashboard.pricing.pricing_plans.edition.prices.price_placeholder' | translate}}">
                    <button class="btn btn-sm btn-default" type="button" ng-click="vm.removePrice(price, pricingPlan)">
                      <i class="fa fa-times"></i>
                    </button>
                  </li>
                  <!-- Price form -->
                  <li class="list-group-item">
                    <ng-form name="vm.priceForm" class="price">
                      <select class="form-control newprice-currency" name="currency" ng-model="new_price.currency" ng-options="v for v in vm.currencies" required>
                        <option value="" disabled selected hidden>{{'mnoe_admin_panel.dashboard.pricing.pricing_plans.edition.prices.currency_placeholder' | translate}}</option>
                      </select>
                      <input type="number" min="0.01" step="0.01" name="price_cents" ng-model="new_price.price_cents" currency-cents-input class="form-control newprice-price" placeholder="{{'mnoe_admin_panel.dashboard.pricing.pricing_plans.edition.prices.price_placeholder' | translate}}" required>
                      <button class="btn btn-sm btn-default" type="button" ng-click="vm.addPrice(new_price, pricingPlan)" ng-disabled="vm.priceForm.$invalid">
                        <i class="fa fa-plus"></i>
                      </button>
                    </ng-form>
                  </li>
                </ul>
              </div>

              <div class="form-group top-buffer-1">
                <button class="btn btn-primary" type="button" ng-click="vm.updateProductPricing(pricingPlan)" ng-disabled="vm.isLoading || vm.pricing_plan_form.$invalid">
                  save
                </button>
                <button class="btn btn-default" ng-click="vm.cancelPricingPlan(pricingPlan)" ng-disabled="">
                  cancel
                </button>
              </div>
            </div>
          </li>
        </ul>
      </mno-section>
    </mno-widget-body>
  </mno-widget>

  <!-- File upload section -->
  <mno-widget icon="fa-tag" heading="{{'mnoe_admin_panel.dashboard.product.file_upload' | translate}}" is-loading="vm.isLoading">
    <mno-widget-header></mno-widget-header>
    <mno-widget-body>
      <!-- Logo upload -->
      <mno-section heading="{{'mnoe_admin_panel.dashboard.product.logo_upload' | translate}}">
        <form name="vm.form.product.logo">
          <mno-image-selector ng-model="vm.product.logo"
                              default-preview="{{vm.product.logo.url}}"
                              max-size="'5MB'">
            <a href ng-click="vm.deleteLogo()" class="close" ng-show="vm.product.logo">
              <i class="fa fa-times"></i>
            </a>
          </mno-image-selector>
          <button class="btn btn-primary top-buffer-1"
                  ng-click="vm.uploadLogo(vm.product.logo, vm.form.product.logo)" translate>mnoe_admin_panel.dashboard.product.submit
          </button>
        </form>
      </mno-section>

      <!-- Screenshots upload -->
      <mno-section heading="{{'mnoe_admin_panel.dashboard.product.screenshots_upload' | translate}}">
        <mno-image-manager assets="vm.product.assets_attributes"
                           field-name="'Screenshots'"
                           upload-uri="'/mnoe/jpi/v1/admin/products/' + vm.product.id + '/assets'"
                           delete-cb="vm.deleteLogo">
        </mno-image-manager>
      </mno-section>
    </mno-widget-body>
  </mno-widget>
</div>
