<div id="products" class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12 top-buffer-1" ng-hide="vm.isAccountManager">
    <a class="onboarding-link pull-right" ng-href="{{vm.developerOnboardingURL}}" target="_blank" translate>mnoe_admin_panel.dashboard.products.developer_onboarding_link</a>
    <a class="btn btn-large btn-primary" ng-click="vm.createProduct()" translate>mnoe_admin_panel.dashboard.products.create_new_product</a>
  </div>
</div>
<div class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12">
    <mnoe-products-list></mnoe-products-list>
  </div>
</div>
