<div id="app-instance-info-modal">

  <!-- Modal Header -->
  <div class="modal-header">
    <h3 class="modal-title" translate translate-values="{ app_name: vm.appInstance.app_name, organization_name: vm.organization.name}">mnoe_admin_panel.dashboard.organization.app_info.title</h3>
    <div class="close" type="button" ng-click="vm.closeModal()" >×</div>
  </div>

  <!-- Modal Body -->
  <div class="modal-body">
    <div class="row">
      <div class="col-xs-6">
        <div class="label-cell" translate>mnoe_admin_panel.dashboard.organization.app_info.name</div>
      </div>
      <div class="col-xs-6">
        {{ vm.appInstance.app_name }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="label-cell" translate>mnoe_admin_panel.dashboard.organization.app_info.app_instance_uid</div>
      </div>
      <div class="col-xs-6">
        {{ vm.appInstance.uid }}
      </div>
    </div>
    <!-- TODO: Add appropriate tooltips -->
    <div class="row">
      <div class="col-xs-6">
        <div class="label-cell" translate>mnoe_admin_panel.dashboard.organization.app_info.status</div>
      </div>
      <div class="col-xs-6">
        <!-- TODO: Capitalize this -->
        {{ vm.appInstance.status }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="label-cell" translate>mnoe_admin_panel.dashboard.organization.app_info.connected</div>
      </div>
      <div class="col-xs-6">
        <!-- TODO: Change true/false to yes/no -->
        {{ vm.isConnected }}
      </div>
    </div>
    <div class="row">
      <div class="col-xs-6">
        <div class="label-cell" translate>mnoe_admin_panel.dashboard.organization.app_info.data_syncable</div>
      </div>
      <div class="col-xs-6">
        <!-- TODO: Change true/false to yes/no -->
        {{ vm.canBeDataSynced }}
      </div>
    </div>
    <div ng-if="vm.syncStatus">
      <div class="row">
        <div class="col-xs-6">
          <div class="label-cell" translate>mnoe_admin_panel.dashboard.organization.app_info.progress</div>
        </div>
        <div class="col-xs-6">
          <!-- TODO: Change true/false to yes/no -->
          {{ vm.syncStatus.progress }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="label-cell" translate>mnoe_admin_panel.dashboard.organization.app_info.started_at</div>
        </div>
        <div class="col-xs-6">
          <!-- TODO: Change true/false to yes/no -->
          {{ vm.syncStatus.started_at | date: 'dd/MM/yyyy' }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="label-cell" translate>mnoe_admin_panel.dashboard.organization.app_info.started_at</div>
        </div>
        <div class="col-xs-6">
          <!-- TODO: Change true/false to yes/no -->
          {{ vm.syncStatus.finished_at | date: 'dd/MM/yyyy' }}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-6">
          <div class="label-cell" translate>mnoe_admin_panel.dashboard.organization.app_info.messages</div>
        </div>
        <div class="col-xs-6">
          <!-- TODO: Change true/false to yes/no -->
          {{ vm.syncStatus.messages }}
        </div>
      </div>
    </div>
  </div>

  <!-- Modal Footer -->
  <div class="modal-footer">
  </div>

</div>
