<mno-widget icon="fa-shopping-basket" heading="{{$ctrl.orders.widgetTitle}}" is-loading="orders.loading">
  <mno-widget-header>
    &nbsp;{{ 'mnoe_admin_panel.dashboard.orders.widget.list.title' | translate}}
  </mno-widget-header>
  <mno-widget-body class="large-auto-height no-padding">
    <div>
      <table class="table" st-pipe="$ctrl.callServer" st-table="$ctrl.displayed">
      <table st-pipe="$ctrl.callServer" st-table="$ctrl.listOfOrders" class="table table-striped" >
        <thead>
          <tr>
            <th st-sort="order" class="col-lg-1" translate>mnoe_admin_panel.dashboard.orders.widget.list.table.order</th>
            <th st-sort="date" class="col-lg-1" translate>mnoe_admin_panel.dashboard.orders.widget.list.table.date</th>
            <th st-sort="product" class="col-lg-3" translate>mnoe_admin_panel.dashboard.orders.widget.list.table.product</th>
            <th st-sort="catalog" class="col-lg-2" translate>mnoe_admin_panel.dashboard.orders.widget.list.table.catalog</th>
            <th st-sort="customer" class="col-lg-2" translate>mnoe_admin_panel.dashboard.orders.widget.list.table.customer</th>
            <th st-sort="status" class="col-lg-1" translate>mnoe_admin_panel.dashboard.orders.widget.list.table.payment</th>
            <th st-sort="amount" class="col-lg-1" translate>mnoe_admin_panel.dashboard.orders.widget.list.table.amount</th>
          </tr>
          <tr>
          </tr>
        </thead>
        <tbody ng-show="">
          <tr>
            <td colspan="6" class="text-center" translate>mnoe_admin_panel.dashboard.orders.widget.list.loading_orders</td>
          </tr>
        </tbody>
        <tbody ng-show="!$ctrl.orders.loading" >
          <tr ng-repeat="order in $ctrl.listOfOrders">
            <td>
              <a ui-sref="dashboard.order({orderId: order.id})">{{order.reference}}
            </td>
            <td>{{order.date | date: 'dd/MM/yyyy'}}</td>
            <td>{{order.product}}</td>
            <td>{{order.catalog}}</td>
            <td>{{order.customer}}</td>
            <td>{{order.payment_status}}</td>
            <td>{{order.amount}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mno-widget-body>
  <mno-widget-footer ng-show="$ctrl.orders.loading">
    <mno-pagination
      page="$ctrl.orders.page"
      nb-items="$ctrl.orders.nbItems"
      total-items="$ctrl.orders.totalItems"
      on-change-cb="$ctrl.orders.pageChangedCb(nbItems, page)"
      is-loading="$ctrl.orders.loading">
    </mno-pagination>
  </mno-widget-footer>
</mno-widget>
