<div class="row">
  <div class="col-xs-12">
    <h1 translate><i class="fa fa-user"></i>mnoe_admin_panel.dashboard.staff.staff_info</h1>
    <mno-widget is-loading="!vm.staff" icon="fa-users" heading="{{vm.staff.name + ' ' + vm.staff.surname}}">
      <mno-widget-header></mno-widget-header>
      <mno-widget-body>
        <div class="row">
          <div class="col-md-3"><div class="label-cell" translate>mnoe_admin_panel.dashboard.staff.uid</div></div>
          <div class="col-md-3">{{vm.staff.uid}}</div>
        </div>
        <div class="row">
          <div class="col-md-3"><div class="label-cell" translate>mnoe_admin_panel.dashboard.staff.name</div></div>
          <div class="col-md-3">
            <input class="form-control input-sm" ng-model="vm.staff.name" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"><div class="label-cell" translate>mnoe_admin_panel.dashboard.staff.surname</div></div>
          <div class="col-md-3">
            <input class="form-control input-sm" ng-model="vm.staff.surname" required>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"><div class="label-cell" translate>mnoe_admin_panel.dashboard.staff.email</div></div>
          <div class="col-md-3">{{vm.staff.email}}</div>
        </div>
        <div class="row">
          <div class="col-sm-3"><div class="label-cell" translate>mnoe_admin_panel.dashboard.staff.admin_role</div></div>
          <div class="col-md-3">
            <span ng-if="!vm.isAdmin">{{vm.staff.adminRoleName() | translate}}</span>
            <select ng-model="vm.staff.admin_role" ng-if="vm.isAdmin" class="form-control input-sm">
              <option value="{{role.value}}" ng-repeat="role in vm.adminRoles">{{ role.label | translate }}</option>
            </select>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-3"><div class="label-cell" translate>mnoe_admin_panel.dashboard.staff.created_at</div></div>
          <div class="col-sm-3">{{vm.staff.created_at | amDateFormat:'L' }}</div>
        </div>
        <div class="row">
          <div class="col-sm-3"><div class="label-cell" translate>mnoe_admin_panel.dashboard.staff.updated_at</div></div>
          <div class="col-sm-3">{{vm.staff.updated_at | amDateFormat:'L' }}</div>
        </div>
        <div class="row" ng-if="vm.isSubTenantEnabled">
          <div class="col-sm-3"><div class="label-cell" translate>mnoe_admin_panel.dashboard.staff.sub_tenant</div></div>
          <div class="col-sm-3" ng-if="!vm.isAdmin">{{vm.staff.subTenantName}}</div>

          <div class="col-sm-3" ng-if="vm.isAdmin">
              <angucomplete-alt id="sub-tenant-selector"
                                placeholder="{{'mnoe_admin_panel.dashboard.staff.search_sub_tenant' | translate}}"
                                pause="200"
                                text-searching="{{'mnoe_admin_panel.dashboard.staff.search_loading' | translate}}"
                                selected-object="vm.subTenantSelected"
                                remote-api-handler="vm.searchSubTenants"
                                search-fields="name"
                                title-field="name"
                                minlength="0"
                                input-class="form-control">
              </angucomplete-alt>
          </div>
          <a class="clear-sub-tenant" href="" ng-show="vm.staff.sub_tenant_id" ng-click="vm.clearSubTenantInput()"><i class="fa fa-times"></i></a>

        </div>
        <div class="row">
          <div class="col-sm-3">
            <button class="btn btn-primary" ng-show="vm.staff" ng-disabled="vm.isSaving" ng-click="vm.updateStaff()" translate>
              <span ng-show="vm.isSaving"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
              mnoe_admin_panel.dashboard.staff.update_staff
            </button>
          </div>
        </div>
      </mno-widget-body>
    </mno-widget>

    <div class="bs-row" ng-if="vm.staff && vm.staff.admin_role_was =='staff' && vm.isAccountManagerEnabled">
      <div class="col-sm-12">
        <h2><i class="fa fa-users"></i> Clients</h2>
        <button class="btn btn-primary center-block" ng-show="vm.staff"  ng-click="vm.updateClientsModal()" translate>mnoe_admin_panel.dashboard.staff.add_remove_clients</button>
        <mnoe-organizations-list filter-params="vm.clientsFilterParams" view="all"></mnoe-organizations-list>
      </div>
    </div>
  </div>
</div>
