<div id="order" class="top-buffer-1">
  <a ui-sref="dashboard.orders" class="text-muted">
    <i class="fa fa-chevron-left"></i>&nbsp;<span translate>mnoe_admin_panel.dashboard.order.back</span>
  </a>
  <div class="row">
    <div class="col-xs-6">
      <mno-widget icon="fa-shopping-basket" heading="{{'mnoe_admin_panel.dashboard.subscription.subscription_info' | translate}}" is-loading="vm.isLoading">
        <mno-widget-header></mno-widget-header>
        <mno-widget-body class="medium">
          <div class="row">
            <div class="col-xs-6">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.subscription.reference</div>
            </div>
            <div class="col-xs-6">
              {{vm.subscription.external_id}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.subscription.start_date</div>
            </div>
            <div class="col-xs-6">
              {{vm.subscription.start_date | date: 'dd/MM/yyyy'}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.subscription.end_date</div>
            </div>
            <div class="col-xs-6">
              {{vm.subscription.end_date | date: 'dd/MM/yyyy'}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.subscription.product</div>
            </div>
            <div class="col-xs-6">
              {{vm.subscription.product.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.subscription.pricing_plan</div>
            </div>
            <div class="col-xs-6">
              {{vm.subscription.product_pricing.name}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.subscription.status</div>
            </div>
            <div class="col-xs-6">
              {{vm.subscription.status}}
              <a class="label-cell" href="" ng-hide="!vm.displayInfoTooltip()" ng-click="vm.displayStatusInfo()"><i class="fa fa-info-circle"></i></a>
            </div>
          </div>
        </mno-widget-body>
      </mno-widget>
    </div>
    <div class="col-xs-6">
      <mno-widget icon="fa-shopping-basket" heading="{{'mnoe_admin_panel.dashboard.subscription.order_info' | translate}}" is-loading="vm.isLoading">
        <mno-widget-header></mno-widget-header>
        <mno-widget-body class="medium">

          <div class="row">
            <div class="col-xs-6">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.order.date</div>
            </div>
            <div class="col-xs-6">
              {{vm.order.created_at | date: 'dd/MM/yyyy'}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.order.order_type</div>
            </div>
            <div class="col-xs-6">
              {{vm.order.event_type}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.order.status</div>
            </div>
            <div class="col-xs-6">
              {{vm.order.status}}
              <a class="label-cell" href="" ng-hide="!vm.displayInfoTooltip()" ng-click="vm.displayStatusInfo()"><i class="fa fa-info-circle"></i></a>
            </div>
          </div>

          <div class="row">
            <div class="col-xs-6">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.order.message</div>
            </div>
            <div class="col-xs-6">
              {{vm.order.message}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.order.approval</div>
            </div>
            <div class="col-xs-3">
              <button role="button" ng-click="vm.approveOrder()" ng-disabled="vm.disableApproval() || vm.isAccountManager" class="btn btn-primary btn-xs" translate>
                mnoe_admin_panel.dashboard.order.approve
              </button>
            </div>
            <div class="col-xs-3">
              <button role="button" ng-click="vm.cancelOrder()" ng-disabled="vm.disableCancel() || vm.isAccountManager" class="btn btn-primary btn-xs" translate>
                mnoe_admin_panel.dashboard.order.reject
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
            </div>
            <div class="col-xs-6">
              {{vm.orderWorkflowExplanation() | translate}}
            </div>
          </div>
        </mno-widget-body>
      </mno-widget>
    </div>
  </div>
  <div class='row'>
    <div class="col-xs-6">
      <mno-widget icon="fa-user-o" heading="{{'mnoe_admin_panel.dashboard.order.customer' | translate}}" is-loading="vm.isLoading">
        <mno-widget-header></mno-widget-header>
        <mno-widget-body class="medium">
          <div class="row">
            <div class="col-xs-4">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.order.name</div>
            </div>
            <div class="col-xs-6">
              {{vm.user.name}} {{vm.user.surname}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.order.email</div>
            </div>
            <div class="col-xs-6">
              {{vm.user.email}}
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <div class="label-cell" translate>mnoe_admin_panel.dashboard.order.organization</div>
            </div>
            <div class="col-xs-6">
              {{vm.organization.name}}
            </div>
          </div>
        </mno-widget-body>
      </mno-widget>
    </div>
    <div class="col-xs-6">
      <mno-widget icon="fa-info-circle" heading="{{'mnoe_admin_panel.dashboard.order.custom_data' | translate}}" is-loading="vm.isLoading">
        <mno-widget-header></mno-widget-header>
        <mno-widget-body>
          <span ng-show="!vm.subscription.custom_data" translate>mnoe_admin_panel.dashboard.order.no_custom_data</span>
          <form ng-show="vm.subscription.custom_data" name="vm.detailsForm" sf-schema="vm.schema" sf-form="vm.form" sf-model="vm.subscription.custom_data" sf-options="{ formDefaults: { readonly: { true } }}"></form>
        </mno-widget-body>
      </mno-widget>
    </div>
  </div>
  <div class="row">
    <div class='col-xs-6'>
      <mno-widget icon="fa-info-circle" heading="{{'mnoe_admin_panel.dashboard.orders.provision.subscription.events' | translate}}" is-loading="vm.isLoading">
        <mno-widget-header></mno-widget-header>
        <mno-widget-body>
          <span ng-show="vm.subscriptionEvents.length == 0" translate>
            mnoe_admin_panel.dashboard.orders.provision.subscription.no_events
          </span>
          <div ng-repeat="subscriptionEvent in vm.subscriptionEvents">
            <div class='row subscription-event'>
              <div class='col-sm-2'>{{ subscriptionEvent.created_at | amDateFormat: 'L' }}</div>
              <div class='col-sm-2'>{{ subscriptionEvent.event_type }}</div>
              <div class='col-sm-2'>{{ subscriptionEvent.status }}</div>
              <div class='col-sm-6'>{{ subscriptionEvent.message }}</div>
            </div>

            <div class='row subscription-event-provisioning-data' ng-if="subscriptionEvent.provisioning_data">
              <div class='col-sm-10 col-sm-offset-2'>
                <user-friendly-json-tree start-expanded="false" object="subscriptionEvent.provisioning_data" options="vm.jsonTreeSettings" root-name="vm.rootName"></user-friendly-json-tree>
              </div>
            </div>
          </div>
        </mno-widget-body>
      </mno-widget>
    </div>
    <div class="col-xs-6">
      <mno-widget icon="fa-info-circle" heading="{{'mnoe_admin_panel.dashboard.order.provisioning_data' | translate}}" is-loading="vm.isLoading">
        <mno-widget-header></mno-widget-header>
        <mno-widget-body>
          <span ng-if="!vm.subscription.provisioning_data" translate>mnoe_admin_panel.dashboard.order.no_provisioning_data</span>
          <user-friendly-json-tree ng-if="vm.subscription.provisioning_data" start-expanded="true" object="vm.subscription.provisioning_data" options="vm.jsonTreeSettings" root-name="vm.rootName"></user-friendly-json-tree>
        </mno-widget-body>
      </mno-widget>
    </div>
  </div>
</div>
