<div id="create-step-1">
  <div class="row">
    <div class="col-xs-12">
      <h1 translate>mnoe_admin_panel.dashboard.customers.create_customer.create_customer</h1>

      <form name="vm.form" novalidate>
        <mno-widget id="org-form" icon="fa-sitemap" heading="{{'mnoe_admin_panel.dashboard.customers.create_customer.organization_details' | translate}}" class="top-buffer-2">
          <mno-widget-header></mno-widget-header>
          <mno-widget-body>
            <div class="flex-container flex-center">
              <div class="form-group flex-50">
                <label class="control-label" for="organization-name" translate>mnoe_admin_panel.dashboard.customers.create_customer.organization_name</label>
                <input id="organization-name" name="{{'mnoe_admin_panel.dashboard.customers.create_customer.name' | translate}}" type="text" ng-model="vm.organization.name" class="form-control" required>
                <div ng-messages="vm.form.name.$error" role="alert" ng-if="vm.form.name.$dirty || vm.form.$submitted">
                  <p ng-message="required" class="text-danger" translate>mnoe_admin_panel.dashboard.customers.create_customer.required.name</p>
                  <p ng-message="server" class="help-block" translate-value-error="{{ main.errorHandler.errorMessage('name') }}" translate>mnoe_admin_panel.dashboard.customers.create_customer.error.name</p>
                </div>
              </div>
            </div>
          </mno-widget-body>
        </mno-widget>

        <mno-widget ng-if="::main.adminConfig.isAppManagementEnabled()" class="top-buffer-2" is-loading="!vm.marketplace" icon="fa-rocket" heading="{{'mnoe_admin_panel.dashboard.customers.create_customer.select_your_app' | translate}}">
          <mno-widget-header>
            <input type="text" ng-model="vm.appSearch" placeholder="{{'mnoe_admin_panel.dashboard.customers.create_customer.search' | translate}}" class="form-control input-sm search-bar">
          </mno-widget-header>
          <mno-widget-body>
            <div class="apps-container">
              <div class="app-icon" ng-repeat="app in vm.marketplace.apps | filter:{name: vm.appSearch}">
                <div class="app-icon-wrapper" ng-click="vm.toggleApp(app)">
                  <div class="checked" ng-show="app.checked">
                    <i class="fa fa-check fa-5x"></i>
                  </div>
                  <img class="app-logo img-thumbnail" ng-src="{{::main.trustSrc(app.logo)}}" alt="{{'mnoe_admin_panel.dashboard.customers.create_customer.app_logo' | translate:{'app': app.name} }}" title="{{::app.tiny_description}}">
                </div>
                <div class="app-title">
                  {{::app.name}}
                </div>
              </div>
            </div>
          </mno-widget-body>
        </mno-widget>

        <mno-widget ng-if="::vm.isSubTenantEnabled && vm.isAdmin" icon="fa-institution" heading="{{'mnoe_admin_panel.dashboard.customers.create_customer.division_details' | translate}}" class="top-buffer-2" is-loading="vm.subTenantLoading">
          <mno-widget-header></mno-widget-header>
          <mno-widget-body>
            <div class='row'>
              <div class='col-lg-6 col-md-offset-3'>
                <table class='table table-striped table-centered'>
                  <thead>
                  <tr>
                    <th class='col-lg-3'>Division Name</th>
                  </tr>
                  </thead>
                  <tbody ng-show='vm.subTenantLoading'>
                    <tr>
                      <td colspan='6' class='text-center'>Loading ...</td>
                    </tr>
                  </tbody>
                  <tbody ng-show='!vm.subTenantLoading'>
                    <tr ng-repeat='sub_tenant in vm.sub_tenants'>
                      <td>{{sub_tenant.name}}</td>
                      <td class='text-center'>
                        <input type='checkbox' ng-model='vm.selectedSubTenants[sub_tenant.id]'>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </mno-widget-body>
        </mno-widget>

        <button type="submit" class="btn btn-danger pull-right top-buffer-2" ng-click="vm.submitOrganisation()" ng-disabled="vm.isLoading || vm.selectedSubTenants.length == 0">
          <span ng-show="vm.isLoading">
            <i class="fa fa-spinner fa-pulse fa-fw"></i>
          </span>
          {{'mnoe_admin_panel.dashboard.customers.create_customer.create' | translate}}
        </button>
      </form>
    </div>
  </div>
</div>
