<div id="settings" class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12 top-buffer-1">
    <form name="settingsForm"
          sf-schema="vm.settingsSchema"
          sf-form="vm.settingsForm"
          sf-model="vm.settingsModel"
          ng-submit="vm.saveSettings(settingsForm)"></form>

    <!--<div ng-show="settingsForm.$valid">-->
      <!--<em>Form is valid</em>-->
    <!--</div>-->

    <!--<div ng-show="settingsForm.$dirty">-->
      <!--<em>Settings changed</em>-->
    <!--</div>-->

    <!--<div class="col-md-12 top-buffer-1">-->
      <!--<pre>{{vm.settingsModel | json : 1}}</pre>-->
    <!--</div>-->
  </div>
</div>
