<mno-widget icon="fa-sitemap" heading="{{'mnoe_admin_panel.dashboard.organization.widget.list.support.search_info' | translate}}">
  <mno-widget-header>
  </mno-widget-header>

  <mno-widget-body>
    <div class="mno-list">
      <h4 class="mno-list-header">
        {{'mnoe_admin_panel.dashboard.organization.widget.list.support.search_info.explanation' | translate}}
      </h4>
      <ul class="mno-list-body">
        <li>{{'mnoe_admin_panel.dashboard.organization.widget.list.support.search_info.external_id' | translate}}</li>
        <li>{{'mnoe_admin_panel.dashboard.organization.widget.list.support.search_info.user_name' | translate}}</li>
        <li>{{'mnoe_admin_panel.dashboard.organization.widget.list.support.search_info.user_name_org_name' | translate}}</li>
        <li>{{'mnoe_admin_panel.dashboard.organization.widget.list.support.search_info.user_name_org_name.exact' | translate}}</li>
        <li>{{'mnoe_admin_panel.dashboard.organization.widget.list.support.search_info.user_name.exact' | translate}}</li>
      </ul>
    </div>
  </mno-widget-body>
</mno-widget>

<mno-widget icon="fa-sitemap" heading="{{'mnoe_admin_panel.dashboard.organization.widget.list.support.last_organizations.title' | translate}}" is-loading="organizations.loading">
  <mno-widget-header>
    <div class="search-top">
      <input ng-attr-tabindex="1" type="text" ng-disabled="!isSupportRoleEnabled" ng-model="organizations.externalIdSearch" ng-change="externalIdSearch()" ng-model-options='{ debounce: 1000 }'
      placeholder="{{'mnoe_admin_panel.dashboard.organization.widget.list.suport.search_users.placeholder.search_external_id' | translate}}"
      class="form-control input-sm search-bar" />
    </div>
    <br>
    <div class="search-bottom">
      <input ng-attr-tabindex="4" type="text" ng-disabled="!isSupportRoleEnabled" ng-model="organizations.orgNameSearch" ng-change="nameSearch()" ng-model-options='{ debounce: 1000 }'
      placeholder="{{'mnoe_admin_panel.dashboard.organization.widget.list.suport.search_users.placeholder.search_org_name' | translate}}"
      class="form-control input-sm search-bar" />
      <input ng-attr-tabindex="3" type="text" ng-disabled="!isSupportRoleEnabled" ng-model="organizations.lastNameSearch" ng-change="nameSearch()" ng-model-options='{ debounce: 1000 }'
      placeholder="{{'mnoe_admin_panel.dashboard.organization.widget.list.suport.search_users.placeholder.search_user_surname' | translate}}"
      class="form-control input-sm search-bar" />
      <input ng-attr-tabindex="2" type="text" ng-disabled="!isSupportRoleEnabled" ng-model="organizations.firstNameSearch" ng-change="nameSearch()" ng-model-options='{ debounce: 1000 }'
      placeholder="{{'mnoe_admin_panel.dashboard.organization.widget.list.suport.search_users.placeholder.search_user_name' | translate}}"
      class="form-control input-sm search-bar" />
    </div>
  </mno-widget-header>
  <mno-widget-body class="large-auto-height no-padding">
    <table class="table table-layout-fixed">
      <thead>
        <tr>
          <th translate>mnoe_admin_panel.dashboard.organization.widget.local_list.search_organizations.table.name</th>
          <th style="width: 100px;" translate>mnoe_admin_panel.dashboard.organization.widget.local_list.search_organizations.table.created_at</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-show="noResultsFound()">
          <td id="no-results" class="text-center">
            <span> {{ noResultsText | translate }} </span>
          </td>
        </tr>
        <tr ng-repeat="organization in organizations.list">
          <td>
            <a id="organization-name" ng-click="accessOrganizationInfo(organization)">
              {{::organization.name}}
              <em ng-show="organization.account_frozen" class="text-muted" translate>mnoe_admin_panel.dashboard.organization.account_frozen_state</em>
              <em ng-show="organization.demo_account" class="text-muted" translate>mnoe_admin_panel.dashboard.organization.demo_account_state</em>
            </a>
          </td>
          <td>{{organization.created_at | amDateFormat:'L'}}</td>
        </tr>
      </tbody>
    </table>
  </mno-widget-body>
</mno-widget>
