<div id="provisioning-layout">
  <nav>
    <a class="breadcrumb-item" ui-sref="dashboard.provisioning.order" ui-sref-active="active">
      <span class="badge">1</span>
      <span class="title" translate>mnoe_admin_panel.dashboard.provisioning.breadcrumb.order</span>
    </a>
    <a class="breadcrumb-item" ui-sref="dashboard.provisioning.additional_details" ui-sref-active="active">
      <span class="badge">2</span>
      <span class="title" translate>mnoe_admin_panel.dashboard.provisioning.breadcrumb.additional_details</span>
    </a>
    <a class="breadcrumb-item" ui-sref="dashboard.provisioning.confirm" ui-sref-active="active">
      <span class="badge">3</span>
      <span class="title" translate>mnoe_admin_panel.dashboard.provisioning.breadcrumb.confirm</span>
    </a>
    <a class="breadcrumb-item" ui-sref="dashboard.provisioning.order_summary" ui-sref-active="active">
      <span class="badge">4</span>
      <span class="title" translate>mnoe_admin_panel.dashboard.provisioning.breadcrumb.order_summary</span>
    </a>
  </nav>

  <div class="container-provisioning" ui-view></div>
</div>
