<span ng-hide="subscription.product_pricing.pricing_type == 'payg'">
  <div ng-repeat="price in subscription.product_pricing.prices | filterBy: ['currency']: selectedCurrency" class="badge">
    <span ng-hide="subscription.product_pricing.license_based">
      {{ price.currency }} {{ price.price_cents / 100 | number:2 }}
      <span ng-show="subscription.product_pricing.pricing_type == 'recurring'">
        / {{ subscription.product_pricing.per_unit }} / {{ subscription.product_pricing.per_duration }}
      </span>
    </span>
    <span ng-show="subscription.product_pricing.license_based">
      {{ price.currency }} {{ price.price_cents / 100 * subscription.max_licenses | number:2 }}
      <span ng-show="subscription.product_pricing.pricing_type == 'recurring'">
        / {{ subscription.product_pricing.per_duration }}
      </span>
    </span>
  </div>
</span>
<span ng-show="subscription.product_pricing.pricing_type == 'payg'">
  {{ 'mnoe_admin_panel.dashboard.provisioning.order.pricing_type.payg' | translate }}
</span>
<span ng-show="subscription.product_pricing.pricing_type == 'free'">
  {{ 'mnoe_admin_panel.dashboard.provisioning.order.pricing_type.free' | translate }}
</span>
