<div id="provisioning-summary">
  <mno-widget is-loading="vm.isLoading" icon="fa-sitemap" heading="{{'mnoe_admin_panel.dashboard.provisioning.summary.title' | translate}}">
    <mno-widget-header></mno-widget-header>
    <mno-widget-body class="no-padding">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>{{ 'mnoe_admin_panel.dashboard.provisioning.summary.name' | translate }}</th>
          <th>{{ 'mnoe_admin_panel.dashboard.provisioning.summary.description' | translate }}</th>
          <th style="width: 25%">{{ 'mnoe_admin_panel.dashboard.provisioning.summary.price' | translate }}</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>{{ vm.subscription.product_pricing.name }}</td>
          <td>{{ vm.subscription.product_pricing.description }}</td>
          <td>
            <span ng-hide="PRICING_TYPES['unpriced'].indexOf(pricingPlan.pricing_type) != -1" ng-repeat="price in vm.subscription.product_pricing.prices | filterBy: ['currency']: vm.orgCurrency" class="badge">
              {{ price.currency }} {{ price.price_cents / 100 }}
            </span>
            <span ng-show="vm.subscription.product_pricing.pricing_type == 'recurring'">
              / {{ vm.subscription.product_pricing.per_unit }} / {{ vm.subscription.product_pricing.per_duration }}
            </span>
            <span ng-show="vm.subscription.product_pricing.pricing_type == 'payg'">
              {{ 'mnoe_admin_panel.dashboard.provisioning.order.pricing_type.payg' | translate }}
            </span>
            <span ng-show="vm.subscription.product_pricing.pricing_type == 'free'">
              {{ 'mnoe_admin_panel.dashboard.provisioning.order.pricing_type.free' | translate }}
            </span>
          </td>
        </tr>
        </tbody>
      </table>
    </mno-widget-body>
  </mno-widget>

  <button class="btn btn-primary pull-right top-buffer-1" ui-sref="dashboard.customers.organization({orgId: vm.subscription.organization_id})" translate>
    mnoe_admin_panel.dashboard.provisioning.summary.back_to_organization
  </button>
</div>
