<div class="modal-header">
  <h3 class="modal-title" translate>mnoe_admin_panel.dashboard.invoice.delete_adjustments.are_you_sure</h3>
</div>
<div class="modal-body">
  <h4 class="modal-title" translate>mnoe_admin_panel.dashboard.invoice.delete_adjustments.you_will_not</h4>
</div>
<div class="modal-footer">
  <div class="row actions">
    <div class="col-xs-12">
      <button type="button" ng-click="vm.deleteAdjustment()" ng-disabled="vm.isLoading || vm.form.adjustment.$invalid" class="btn btn-danger">
        <span ng-show="vm.isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span translate>
        {{ 'mnoe_admin_panel.dashboard.invoice.delete_adjustments.delete' | translate }}
      </button>
      <a href="" ng-click="vm.closeModal()"><i class="fa fa-times"></i translate>
        {{ 'mnoe_admin_panel.dashboard.invoice.delete_adjustments.cancel' | translate }}
      </a>
    </div>
  </div>
</div>

