<mno-widget icon="fa-bar-chart" is-loading="$ctrl.dashboards.loading">
  <mno-widget-header>
    &nbsp;{{ 'mnoe_admin_panel.dashboard.dashboard_templates.widget.list.title' | translate}}
  </mno-widget-header>
  <mno-widget-body class="no-padding">
    <div>
      <table st-pipe="$ctrl.callServer" class="table table-striped" st-table="$ctrl.dashboards.list">
        <thead>
          <tr>
            <th st-sort="name" class="col-lg-4" translate>mnoe_admin_panel.dashboard.dashboard_templates.widget.list.template_name</th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="dashboard in $ctrl.dashboards.list">
            <td title="{{ dashboard.full_name }}">{{ dashboard.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mno-widget-body>
  <mno-widget-footer ng-show="$ctrl.dashboards.list">
    <!-- <mno-pagination
      page="$ctrl.dashboards.page"
      nb-items="$ctrl.dashboards.nbItems"
      total-items="$ctrl.dashboards.totalItems"
      on-change-cb="$ctrl.dashboards.pageChangedCb(nbItems, page)"
      is-loading="$ctrl.dashboards.loading">
    </mno-pagination> -->
  </mno-widget-footer>
</mno-widget>
