<mno-widget icon="fa-bar-chart" is-loading="$ctrl.dashboards.loading">
  <mno-widget-header>
    &nbsp;{{ 'mnoe_admin_panel.dashboard.dashboard_list.widget.list.title' | translate}}
  </mno-widget-header>
  <mno-widget-body class="no-padding">
    <div>
      <table st-pipe="$ctrl.callServer" class="table table-striped" st-table="$ctrl.dashboards.list">

        <!-- Dashboard list header -->
        <thead>
          <tr>
            <th class="col-lg-4" translate>mnoe_admin_panel.dashboard.dashboard_list.widget.list.name</th>
            <th class="col-lg-4" translate>mnoe_admin_panel.dashboard.dashboard_list.widget.list.currency</th>
            <th class="col-lg-4" translate>mnoe_admin_panel.dashboard.dashboard_list.widget.list.updated_at</th>
            <th class="col-lg-4" translate>mnoe_admin_panel.dashboard.dashboard_list.widget.list.created_at</th>
          </tr>
        </thead>

        <!-- Dashboard list -->
        <tbody ng-repeat="dashboard in $ctrl.dashboards.list">
          <tr ng-click="$ctrl.toggleDashboard(dashboard)">
            <td title="{{ dashboard.full_name }}">
              <span>
                <i class="fa" ng-class="{ 'fa-caret-right': !dashboard.opened, 'fa-caret-down': dashboard.opened }"></i>
              </span>
              {{ dashboard.name }}
            </td>
            <td title="{{ dashboard.full_name }}">{{ $ctrl.currency(dashboard) }}</td>
            <td title="{{ dashboard.full_name }}">{{ dashboard.updated_at | date: "dd/MM/yyyy \'at\' hh:mm" }}</td>
            <td title="{{ dashboard.full_name }}">{{ dashboard.created_at |  date: "dd/MM/yyyy \'at\' hh:mm" }}</td>
          </tr>

          <!-- Widgets attached to the dashboard -->
          <tr ng-if="dashboard.opened" ng-click="$ctrl.toggleDashboardWidgets(dashboard)" class="nested-table-one-header">
            <td>
              <span>
                <i class="fa" ng-class="{ 'fa-caret-right': !dashboard.widgetOpened, 'fa-caret-down': dashboard.widgetOpened }"></i>
              </span>
              Widgets:
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr ng-if="dashboard.opened && dashboard.widgetOpened" ng-repeat="widget in dashboard.widgets" class="nested-table-one-body">
            <td title="{{ dashboard.full_name }}">{{ widget.name }}</td>
            <td title="{{ dashboard.full_name }}">{{ $ctrl.currency(widget) }}</td>
            <td title="{{ dashboard.full_name }}">{{ widget.updated_at | date: "dd/MM/yyyy \'at\' hh:mm" }}</td>
            <td title="{{ dashboard.full_name }}">{{ widget.created_at |  date: "dd/MM/yyyy \'at\' hh:mm" }}</td>
          </tr>

          <!-- Kpis attached to the dashboard -->
          <tr ng-if="dashboard.opened" ng-click="$ctrl.toggleDashboardKpis(dashboard)" class="nested-table-one-header">
            <td>
              <span>
                <i class="fa" ng-class="{ 'fa-caret-right': !dashboard.kpiOpened, 'fa-caret-down': dashboard.kpiOpened }"></i>
              </span>
              Kpis:
            </td>
            <td></td>
            <td></td>
            <td></td>
          </tr>

          <tr ng-if="dashboard.opened && dashboard.kpiOpened" ng-repeat="kpi in dashboard.kpis" class="nested-table-one-body">
            <td title="{{ dashboard.full_name }}">{{ kpi.name }}</td>
            <td title="{{ dashboard.full_name }}">{{ $ctrl.currency(kpi) }}</td>
            <td title="{{ dashboard.full_name }}">{{ kpi.updated_at | date: "dd/MM/yyyy \'at\' hh:mm" }}</td>
            <td title="{{ dashboard.full_name }}">{{ kpi.created_at |  date: "dd/MM/yyyy \'at\' hh:mm" }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </mno-widget-body>
  <mno-widget-footer ng-show="$ctrl.dashboards.list">
    <!-- <mno-pagination
      page="$ctrl.dashboards.page"
      nb-items="$ctrl.dashboards.nbItems"
      total-items="$ctrl.dashboards.totalItems"
      on-change-cb="$ctrl.dashboards.pageChangedCb(nbItems, page)"
      is-loading="$ctrl.dashboards.loading">
    </mno-pagination> -->
  </mno-widget-footer>
</mno-widget>
