<h1 translate>mnoe_admin_panel.dashboard.invoice.invoice_info</h1>
<a ui-sref="dashboard.invoices" class="text-muted">
  <i class="fa fa-chevron-left"></i><span translate>mnoe_admin_panel.dashboard.invoice.back</span>
</a>
<!-- invoice summary -->
<div id="single-invoice">
  <mno-widget is-loading="vm.isLoading" icon="fa-file-text-o" heading="{{'mnoe_admin_panel.dashboard.invoice.summary.widget.list.title' | translate}}">
    <mno-widget-header> 
    </mno-widget-header>
    <mno-widget-body class="large no-padding">
      <table class="table table-striped table-responsive">
        <thead>
          <tr>
            <th class="col-lg-1" translate>mnoe_admin_panel.dashboard.invoice.reference</th>
            <th class="col-lg-2" translate>mnoe_admin_panel.dashboard.invoice.customer</th>
            <th class="col-lg-3" translate>mnoe_admin_panel.dashboard.invoice.period</th>
            <th class="col-lg-2" ng-if="vm.isPaymentEnabled" translate>mnoe_admin_panel.dashboard.invoice.expected_payment_date</th>
            <th class="col-lg-2" ng-if="!vm.isPaymentEnabled"></th>
            <th class="col-lg-1" translate>mnoe_admin_panel.dashboard.invoice.amount</th>
            <th class="col-lg-2" translate>mnoe_admin_panel.dashboard.invoice.status</th>
            <th class="col-lg-1" translate></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{vm.invoice.invoice.slug}}</td>
            <td>{{vm.invoice.organization.attributes.name}}</td>
            <td>{{vm.invoice.invoice.started_at | amCalendar}} - {{vm.invoice.invoice.ended_at | amCalendar}}</td>
            <td ng-if="vm.isPaymentEnabled">{{vm.expectedPaymentDate(vm.invoice.invoice.ended_at) | amCalendar }}</td>
            <td ng-if="!vm.isPaymentEnabled"></td>
            <td>{{vm.invoice.invoice.price.currency.iso_code}}{{vm.invoice.invoice.price.fractional}}</td>
            <td>
              <span ng-if="vm.invoice.invoice.paid_at" translate>mnoe_admin_panel.dashboard.invoices.paid</span>
              <div class="btn-group" ng-if="!vm.invoice.invoice.paid_at" uib-dropdown dropdown-append-to-body>
                <button id="btn-append-to-body" type="button" class="btn btn-primary" uib-dropdown-toggle translate>
                  mnoe_admin_panel.dashboard.invoices.awaiting <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to-body">
                  <li role="menuitem"><a ng-click="vm.changeInvoiceStatus()" translate>mnoe_admin_panel.dashboard.invoices.paid</a></li>
                </ul>
              </div>
            </td>
            <td>
              <span class="pull-right center-cloud">
                <a ng-click="vm.downloadInvoice(vm.invoice.invoice.slug)" target="_blank"><i class="fa fa-cloud-download"></i></a>
              </span>
            </td>
          </tr>
        </tbody>
      </table>
    </mno-widget-body>
    <mno-widget-footer>
    </mno-widget-footer>
  </mno-widget>
</div>
<!-- Details -->
<mno-widget is-loading="vm.isLoading" heading="{{'mnoe_admin_panel.dashboard.invoice.details.widget.list.title' | translate}}">
  <mno-widget-header> 
  </mno-widget-header>
  <mno-widget-body class="large no-padding">
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th class="col-lg-2" translate>mnoe_admin_panel.dashboard.invoice.details.product</th>
          <th class="col-lg-2" translate>mnoe_admin_panel.dashboard.invoice.details.type</th>
          <th class="col-lg-3" translate>mnoe_admin_panel.dashboard.invoice.details.usage</th>
          <th class="col-lg-1" translate>mnoe_admin_panel.dashboard.invoice.details.price</th>
        </tr>
      </thead>
      <tbody ng-show="!vm.isLoading">
        <tr ng-repeat="bill in vm.invoice.bills">
          <td>{{bill.billable_name}}</td>
          <td>{{bill.billable_type}}</td>
          <td>{{bill.billing_type}}</td>
          <td>{{bill.currency}}{{bill.price_cents}}</td>
        </tr>
      </tbody>
    </table>
  </mno-widget-body>
  <mno-widget-footer>
  </mno-widget-footer>
</mno-widget>
<!-- adjustments -->
<div id="single-invoice-adjustments">
  <div class="row">
    <div class="col-xs-12">
      <div class="pull-right top-buffer-1" ng-if="!vm.invoice.invoice.paid_at">
        <button role="button" ng-click="vm.openAddAdjustmentModal()" class="btn btn-primary" translate>
          mnoe_admin_panel.dashboard.invoice.add_adjustment
        </button>
      </div>
    </div>
  </div>
  <mno-widget is-loading="vm.isLoading" heading="{{'mnoe_admin_panel.dashboard.invoice.adjustments.adjustments' | translate}}">
    <mno-widget-header> 
    </mno-widget-header>
    <mno-widget-body class="large no-padding">
      <span class="text-center" ng-show="!vm.invoice.adjustments">
        <h4 translate>mnoe_admin_panel.dashboard.invoice.adjustments.no_adjustments</h4>
      </span>
      <table ng-show="vm.invoice.adjustments" class="table table-striped table-responsive">
        <thead>
          <tr>
            <th class="col-lg-8" translate>mnoe_admin_panel.dashboard.invoice.adjustments.adjustment_name</th>
            <th class="col-lg-3" translate>mnoe_admin_panel.dashboard.invoice.adjustments.adjustment_amount</th>
            <th class="col-lg-1"></th>
          </tr>
        </thead>
        <tbody ng-show="!vm.isLoading">
          <tr ng-repeat="adjustment in vm.invoice.adjustments">
            <td>{{adjustment.name}}</td>
            <td>{{adjustment.amount}}</td>
            <td>
              <div ng-if="!vm.invoice.invoice.paid_at">
                <button role="button" ng-click="vm.openEditAdjustmentModal(adjustment)" class="btn btn-primary">
                  <i class="fa fa-pencil"></i>
                </button>
                <button role="button" ng-click="vm.openDeleteAdjustmentModal(adjustment)" class="btn btn-primary">
                  <i class="fa fa-trash-o"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </mno-widget-body>
    <mno-widget-footer>
    </mno-widget-footer>
  </mno-widget>
  <div class="row button-footer">
    <div class="col-xs-12">
      <div class='btn-group pull-right'>
        <div class="top-buffer-1" ng-if="!vm.invoice.invoice.paid_at">
          <button role="button" ui-sref="dashboard.invoices" class="btn btn-primary" translate>Cancel</button>
          <button role="button" ng-click="vm.update()" class="btn btn-primary" translate>Update</button>
          <button role="button" ng-click="" class="btn btn-primary" translate>mnoe_admin_panel.dashboard.invoice.adjustments.send_to_customer</button>
        </div>
        <div class="top-buffer-1" ng-if="vm.invoice.invoice.paid_at">
          <button role="button" ui-sref="dashboard.invoices" class="btn btn-primary" translate>back</button>
          <button role="button" ng-click="" class="btn btn-primary" translate>mnoe_admin_panel.dashboard.invoice.adjustments.send_to_customer</button>
        </div>
      </div>
    </div>
  </div>
</div>

