<div class="modal-header">
  <div class="close" type="button" ng-click="closeModal()" >×</div>
  <h3 translate>mnoe_admin_panel.dashboard.comment_modal.title</h3>
</div>

<div class="modal-body">
  <div class="main-area comment-input">
    <textarea ng-model="commentText" rows="8" cols="40"></textarea>
  </div>
</div>

<div class="modal-footer">
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-default" ng-click="closeModal()" translate>
        mnoe_admin_panel.dashboard.comment_modal.cancel
      </button>
      <button class="btn btn-default" ng-click="submitIteraction()" translate>
        mnoe_admin_panel.dashboard.comment_modal.submit
      </button>
    </div>
  </div>
</div>
