<mno-widget icon="fa-sitemap" heading="{{organizations.widgetTitle | translate:{length: list.length} }}" is-loading="!list">
  <mno-widget-header>
    &nbsp;<a href="" ng-click="switchState()" ng-show="list && organizations.switchLinkTitle" translate>{{organizations.switchLinkTitle}}</a>
    <input type="text" ng-model="organizations.search" ng-change="searchChange()" placeholder="{{'mnoe_admin_panel.dashboard.organization.widget.local_list.search_organizations.placeholder.search_all' | translate}}" class="form-control input-sm search-bar" />
  </mno-widget-header>
  <mno-widget-body class="large no-padding">
    <table class="table table-layout-fixed">
      <thead>
        <tr>
          <th translate>mnoe_admin_panel.dashboard.organization.widget.local_list.search_organizations.table.name</th>
          <th style="width: 100px;" translate>mnoe_admin_panel.dashboard.organization.widget.local_list.search_organizations.table.created_at</th>
          <th style="width: 130px;" translate>mnoe_admin_panel.dashboard.organization.widget.local_list.search_organizations.table.role</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="organization in organizations.displayList">
          <td>
            <a ui-sref="dashboard.customers.organization({orgId: organization.id})">
              {{::organization.name}}
              <em ng-show="organization.account_frozen" class="text-muted" translate>mnoe_admin_panel.dashboard.organization.account_frozen_state</em>
              <em ng-show="organization.demo_account" class="text-muted" translate>mnoe_admin_panel.dashboard.organization.demo_account_state</em>
            </a>
          </td>
          <td>{{organization.created_at | date: 'dd/MM/yyyy'}}</td>
          <td>
            <select ng-show="organization.editMode" ng-model="organization.role" ng-options="role.value as role.translatedLabel for role in userRoles.availableRolesForOptions"></select>
            <span ng-show="organization.isUpdatingRole"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
            <span ng-click="editRole(organization)" ng-hide="organization.editMode">{{ userRoles.keyFromRole(organization.role) | translate }}</span>
            <a class="role_edit_link" ng-hide="organization.editMode" ng-click="editRole(organization)"><i class="fa fa-pencil"></i></a>
            <a class="role_edit_link" ng-show="organization.editMode" ng-click="updateUserRole(organization, user)"><i class="fa fa-check"></i></a>
            <a class="role_edit_link" ng-show="organization.editMode" ng-click="exitEditRole(organization)"><i class="fa fa-times"></i></a>
            <span ng-show="vm.isSaving"><i class="fa fa-spinner fa-pulse fa-fw"></i></span>
          </td>
        </tr>
      </tbody>
    </table>
  </mno-widget-body>
</mno-widget>
