<div class="row">
  <div class="col-xs-12">
    <h1 translate><i class="fa fa-institution"></i>mnoe_admin_panel.dashboard.sub_tenant.sub_tenant_info</h1>
    <mno-widget is-loading="!vm.subTenant" icon="fa-sitemap" heading="{{vm.subTenant.name}}">
      <mno-widget-header></mno-widget-header>
      <mno-widget-body>
        <div class="bs-row row">
          <div class="col-md-3"><div class="label-cell" translate>mnoe_admin_panel.dashboard.sub_tenant.name</div></div>
          <div class="col-md-3">{{::vm.subTenant.name}}</div>
        </div>
        <div class="bs-row row">
          <div class="col-sm-3"><div class="label-cell" translate>mnoe_admin_panel.dashboard.sub_tenant.created_at</div></div>
          <div class="col-sm-3">{{vm.subTenant.created_at | amCalendar }}</div>
        </div>
        <div class="bs-row row">
          <div class="col-sm-3"><div class="label-cell" translate>mnoe_admin_panel.dashboard.sub_tenant.updated_at</div></div>
          <div class="col-sm-3">{{vm.subTenant.updated_at | amCalendar}}</div>
        </div>
      </mno-widget-body>
    </mno-widget>


    <div class="bs-row">
      <div class="col-sm-6">
        <h2><i class="fa fa-users" translate></i> Clients</h2>
        <button class="btn btn-primary center-block" ng-show="vm.subTenant" ng-click="vm.updateClientsModal()" translate>mnoe_admin_panel.dashboard.sub_tenant.add_remove_clients</button>
        <mnoe-organizations-local-list list="vm.subTenant.clients" view="all"></mnoe-organizations-local-list>
      </div>
      <div class="col-sm-6"><h2><i class="fa fa-users"></i> Account Managers</h2>
        <button class="btn btn-primary center-block" ng-show="vm.subTenant" ng-click="vm.updateAccountManagerModal()" translate>mnoe_admin_panel.dashboard.sub_tenant.add_remove_account_managers</button>
        <mnoe-users-local-list list="vm.subTenant.account_managers" view="all"></mnoe-users-local-list>
      </div>
    </div>

  </div>
</div>
