<mno-widget icon="fa-tag" heading="{{ 'mnoe_admin_panel.dashboard.products.widget.list.title' | translate}}" is-loading="$ctrl.products.loading">
  <mno-widget-header>
    <input st-search="name" placeholder="{{'mnoe_admin_panel.dashboard.product.widget.list.placeholder.search_product' | translate}}" class="form-control input-sm search-bar" />
  </mno-widget-header>
  <mno-widget-body class="large no-padding">
    <div>
      <table st-pipe="$ctrl.callServer" st-table="$ctrl.products.list" class="table table-striped">
        <thead>
          <tr>
            <th st-sort="name" class="col-lg-4" translate>mnoe_admin_panel.dashboard.products.widget.list.table.name</th>
            <th st-sort="active" class="col-lg-2" translate>mnoe_admin_panel.dashboard.products.widget.list.table.status</th>
            <th st-sort="created_at" class="col-lg-2" translate>mnoe_admin_panel.dashboard.products.widget.list.table.created</th>
            <th st-sort="updated_at" class="col-lg-2" translate>mnoe_admin_panel.dashboard.products.widget.list.table.updated</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="6" class="text-center" ng-show='$ctrl.areProducts()' translate>mnoe_admin_panel.dashboard.products.widget.list.no_products</td>
          </tr>
        </tbody>
        <tbody ng-show="!$ctrl.products.loading">
          <tr ng-repeat="product in $ctrl.products.list">
            <td>
              <a ui-sref="dashboard.product({productId: product.id})">{{product.name}}
            </td>
            <td>
              <span ng-if="product.active" translate>mnoe_admin_panel.dashboard.products.widget.list.table.published</span>
              <span ng-if="!product.active" translate>mnoe_admin_panel.dashboard.products.widget.list.table.draft</span>
            </td>
            <td>{{product.created_at | date: 'dd/MM/yyyy'}}</td>
            <td>{{product.updated_at | date: 'dd/MM/yyyy'}}</td>
            <td>
              <div class="pull-right" ng-hide="$ctrl.isAccountManager">
                <div class="btn-group">
                  <a type="button" class="btn btn-link btn-link-warning" ui-sref="dashboard.product({productId: product.id})">
                    <i class="fa fa-pencil" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="btn-group" ng-click="$ctrl.confirmDeletion(product)">
                  <a type="button" class="btn btn-link btn-link-danger">
                    <i class="fa fa-trash-o" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mno-widget-body>
  <mno-widget-footer ng-show="$ctrl.products.list">
    <mno-pagination
      page="$ctrl.products.page"
      nb-items="$ctrl.products.nbItems"
      total-items="$ctrl.products.totalItems"
      on-change-cb="$ctrl.products.pageChangedCb(nbItems, page)"
      is-loading="$ctrl.products.loading">
    </mno-pagination>
  </mno-widget-footer>
</mno-widget>
<td>
