<div id="settings" class="row">
  <div class="col-lg-10 col-lg-offset-1 col-md-12 top-buffer-1">
    <a href="/dashboard/theme-previewer.html" target="_self" class="theme-previewer-link pull-right">
      <i class="fa fa-external-link"></i>
      {{'mnoe_admin_panel.dashboard.settings.general.theme_previewer' | translate}}
    </a>

    <form name="settingsForm"
          sf-schema="vm.settingsSchema"
          sf-form="vm.settingsForm"
          sf-model="vm.settingsModel"
          ng-submit="vm.saveSettings()"></form>

    <div class="btn-group bottom-buffer-1">
      <button ng-repeat-end="" class="btn btn-danger" type="button" ng-disabled="vm.isLoading" ng-click="vm.cancel(settingsForm)">
        Cancel
      </button>
      <button type="button" class="btn btn-primary" ng-click="vm.saveSettings()" ng-disabled="vm.isLoading">
        <span ng-show="vm.isLoading"><i class="fa fa-spinner fa-pulse fa-fw"></i></span> Save
      </button>
    </div>

    <!--<div ng-show="settingsForm.$valid">-->
      <!--<em>Form is valid</em>-->
    <!--</div>-->

    <!--<div ng-show="settingsForm.$dirty">-->
      <!--<em>Settings changed</em>-->
    <!--</div>-->

    <!--<div class="col-md-12 top-buffer-1">-->
      <!--<pre>{{vm.settingsModel | json : 1}}</pre>-->
    <!--</div>-->
  </div>
</div>
