<div id="batch-upload" class="top-buffer-1">
  <div class="row">
    <div class="col-xs-12">
      <h1 translate>mnoe_admin_panel.dashboard.customers.batch_upload.batch_upload</h1>
      <a ui-sref="dashboard.customers" class="text-muted">
        <i class="fa fa-chevron-left"></i>&nbsp;<span translate>mnoe_admin_panel.dashboard.customers.batch_upload.back</span>
      </a>
      <!-- File upload section -->
      <mno-widget icon="fa-upload" heading="{{'mnoe_admin_panel.dashboard.customers.batch_upload.file_upload' | translate}}">
        <mno-widget-header></mno-widget-header>
        <mno-widget-body>
          <div class="row col-sm-12">
            <p translate>mnoe_admin_panel.dashboard.customers.batch_upload.description</p>
            <button type="button" class="btn btn-secondary" ng-click="vm.downloadExample()" translate>
              mnoe_admin_panel.dashboard.customers.batch_upload.download_example
            </button>
          </div>

          <div class="row col-sm-12 top-buffer-1">
            <p translate>mnoe_admin_panel.dashboard.customers.batch_upload.select_file</p>
            <mno-file-uploader max-size="20MB"
                               file-types=".csv" upload-uri="/mnoe/jpi/v1/admin/organizations/batch_import"
                               start-callback="vm.onUploadStart()"
                               success-callback="vm.onUploadSuccess(value)"
                               error-callback="vm.onUploadError(value)">
            </mno-file-uploader>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div ng-show="vm.report.added_organizations.length > 0">
                <h3 translate>mnoe_admin_panel.dashboard.customers.batch_upload.added_organizations</h3>
                <mnoe-organizations-local-list list="vm.report.added_organizations" view="all"></mnoe-organizations-local-list>
              </div>
              <div ng-show="vm.report.updated_organizations.length > 0">
                <h3 translate>mnoe_admin_panel.dashboard.customers.batch_upload.updated_organizations</h3>
                <mnoe-organizations-local-list list="vm.report.updated_organizations" view="all"></mnoe-organizations-local-list>
              </div>
            </div>
            <div class="col-sm-6">
              <div ng-show="vm.report.added_users.length > 0">
                <h3 translate>mnoe_admin_panel.dashboard.customers.batch_upload.added_users</h3>
                <mnoe-users-local-list list="vm.report.added_users" view="all"></mnoe-users-local-list>
              </div>
              <div ng-show="vm.report.updated_users.length > 0">
                <h3 translate>mnoe_admin_panel.dashboard.customers.batch_upload.updated_users</h3>
                <mnoe-users-local-list list="vm.report.updated_users" view="all"></mnoe-users-local-list>
              </div>
            </div>
          </div>
          <div ng-show="vm.errors" class="col-sm-12">
            <h3 translate>mnoe_admin_panel.dashboard.customers.batch_upload.errors</h3>
            <p translate>mnoe_admin_panel.dashboard.customers.batch_upload.errors_description</p>
            <ul ng-repeat="e in vm.errors">
              <li>{{e}}</li>
            </ul>
          </div>
        </mno-widget-body>
      </mno-widget>
    </div>
  </div>
</div>
