<mno-widget icon="fa-users" heading="{{users.widgetTitle | translate}}" is-loading="users.loading">
  <mno-widget-header>
    <input type="text" ng-model="users.search" ng-change="searchChange()" ng-model-options='{ debounce: 1000 }' placeholder="{{'mnoe_admin_panel.dashboard.users.widget.list.search_users.placeholder.search_all' | translate}}" class="form-control input-sm search-bar" />
  </mno-widget-header>
  <mno-widget-body class="large-auto-height no-padding">
    <mno-sortable-table row-collection="users.list" is-loading="users.loading" fields="users.fields" pipe="pipe(tableState)">
    </mno-sortable-table>
  </mno-widget-body>
  <mno-widget-footer ng-show="users.list && state == 'all' && !searchMode">
    <mno-pagination
      page="users.page"
      nb-items="users.nbItems"
      total-items="users.totalItems"
      on-change-cb="users.pageChangedCb(nbItems, page)"
      is-loading="users.loading">
    </mno-pagination>
  </mno-widget-footer>
</mno-widget>
