mno-admin-header {

  .header-container {
    display: flex;
    justify-content: space-between;
  }

  .meta {
    display: flex;
    align-items: center;
    height: @mno-admin-header-height;
    padding-left: 15px;

    .logo {
      max-height: 40px;
    }

    .title-wrapper {
      padding-left: 15px;
      margin-left: 15px;
      border-left: @mno-admin-header-logo-border;
      flex-direction: row;

      // Title is hidden on phones
      @media (max-width: @screen-xs-max) {
        display: none;
      }

      .page {
        font-size: 17px;
      }
    }
  }

  .user {
    .item {
      a {
        display: inline-block;
        width: 100%;

        .name {
          vertical-align: top;
          text-align: @mno-admin-header-height;
          display: inline-block;
          color: @mno-admin-header-user-color;
          font-size: 14px;
          line-height: @mno-admin-header-height;

          // Name is hidden on phones
          @media (max-width: @screen-xs-max) {
            display: none;
          }
        }

        img {
          height: 40px;
          margin-top: (@mno-admin-header-height - 40px) / 2;
          display: inline-block;
          margin-right: 10px;
        }

        &:focus, &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
