<mno-admin hide-footer="true" name="{{'mnoe_admin_panel.dashboard.layout.sidebar.title' | translate}}">
  <mno-admin-header>
    <div class="header">
      <div class="header-container">
        <div class="meta">
          <img class="logo" src="images/main-logo.png">
          <div class="title-wrapper">
            <div class="page">
              {{'mnoe_admin_panel.dashboard.layout.title' | translate}}
            </div>
            <div class="breadcrumb-links">
              <div ncy-breadcrumb></div>
            </div>
          </div>
        </div>

        <div class="user">
          <div class="item" uib-dropdown>
            <a href="#" uib-dropdown-toggle>
              <span class="name">{{ main.user.name }} {{ main.user.surname }}</span>
              <img src="images/avatar.png">
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="link">
                <a ng-click="main.exit()" href="">
                  {{'mnoe_admin_panel.dashboard.layout.exit' | translate}}
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </mno-admin-header>

  <mno-admin-nav>
    <li class="sidebar-title"><span>{{'mnoe_admin_panel.dashboard.layout.sidebar.navigation' | translate}}</span></li>
    <li class="sidebar-list" ui-sref-active="active">
      <a ui-sref="dashboard.home">{{'mnoe_admin_panel.dashboard.layout.sidebar.home' | translate}}<span class="menu-icon fa fa-tachometer"></span></a>
    </li>
    <li class="sidebar-list" ng-if="main.isFinanceEnabled" ui-sref-active="active">
      <a ui-sref="dashboard.finance">{{'mnoe_admin_panel.dashboard.layout.sidebar.finance' | translate}}<span class="menu-icon fa fa-money"></span></a>
    </li>
    <li class="sidebar-list" ui-sref-active="active">
      <a ui-sref="dashboard.customers">{{'mnoe_admin_panel.dashboard.layout.sidebar.customers' | translate}}<span class="menu-icon fa fa-users"></span></a>
    </li>
    <li class="sidebar-list" ng-show="main.staffPageAuthorized.indexOf(main.user.admin_role)!=-1" ng-if="::main.adminConfig.isStaffEnabled()" ui-sref-active="active">
      <a ui-sref="dashboard.staff">{{'mnoe_admin_panel.dashboard.layout.sidebar.staff' | translate}}<span class="menu-icon fa fa-wrench"></span></a>
    </li>
    <li class="sidebar-list" ng-show="main.staffPageAuthorized.indexOf(main.user.admin_role)!=-1" ng-if="main.isReviewingEnabled" ui-sref-active="active">
      <a ui-sref="dashboard.reviews">{{'mnoe_admin_panel.dashboard.layout.sidebar.reviews' | translate}}<span class="menu-icon fa fa-star-half-o"></span></a>
    </li>
    <li class="sidebar-list" ng-show="main.staffPageAuthorized.indexOf(main.user.admin_role)!=-1" ng-if="main.areQuestionsEnabled" ui-sref-active="active">
      <a ui-sref="dashboard.questions">{{'mnoe_admin_panel.dashboard.layout.sidebar.questions' | translate}}<span class="menu-icon fa fa-question-circle"></span></a>
    </li>
    <li class="sidebar-list" ng-if="::main.adminConfig.isAuditLogEnabled()" ui-sref-active="active">
      <a ui-sref="dashboard.audit-log">{{'mnoe_admin_panel.dashboard.layout.sidebar.audit_log' | translate}}<span class="menu-icon fa fa-book"></span></a>
    </li>
    <li class="sidebar-list" ng-if="::main.isDashboardTemplatesEnabled" ui-sref-active="active">
      <a ui-sref="dashboard.dashboard-templates">{{'mnoe_admin_panel.dashboard.layout.sidebar.dashboard_templates' | translate}}<span class="menu-icon fa fa-bar-chart"></span></a>
    </li>
  </mno-admin-nav>

  <mno-admin-content>
      <!-- Main Content -->
      <div ui-view></div>
  </mno-admin-content>
</mno-admin>
