<div id="subscription-event-info">
    <div class="modal-header">
      <div class="close" type="button" ng-click="vm.close()" >×</div>
      <h3 translate>mnoe_admin_panel.dashboard.subscriptions.event.info.body.header</h3>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-xs-4">
          <div class="label-cell" translate>mnoe_admin_panel.dashboard.subscriptions.event.info.date</div>
        </div>
        <div class="col-xs-8">
          {{vm.event.created_at | amDateFormat:'L'}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="label-cell" translate>mnoe_admin_panel.dashboard.subscriptions.event.info.user</div>
        </div>
        <div class="col-xs-8">
          {{vm.event.user_name}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="label-cell" translate>mnoe_admin_panel.dashboard.subscriptions.event.info.organization</div>
        </div>
        <div class="col-xs-8">
          {{vm.event.subscription.organization_name}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="label-cell" translate>mnoe_admin_panel.dashboard.subscriptions.event.info.action</div>
        </div>
        <div class="col-xs-8">
          {{vm.event.event_type}}
        </div>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <div class="label-cell" translate>mnoe_admin_panel.dashboard.subscriptions.event.info.description</div>
        </div>
        <div class="col-xs-8">
          {{vm.subscription.product.name}} - {{vm.subscription.product_pricing.name}} - {{vm.subscription.id}}
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <div class="row actions">
        <div class="col-xs-12">
          <a href="" ng-click="vm.close()"><i class="fa fa-times"></i>&nbsp;{{ 'mnoe_admin_panel.dashboard.subscriptions.event.info.close' | translate}}</a>
        </div>
      </div>
    </div>
</div>
