<div id="markup-info">
  <div class="modal-header">
    <h3 class="modal-title" translate>mnoe_admin_panel.dashboard.product_markups.markup_info.modal.title</h3>
  </div>
  <div class="modal-body">
    <span>RTFM</span>
  </div>
  <div class="modal-footer">
    <div class="row actions">
      <div class="col-xs-12">
        <a href="" ng-click="vm.onCancel()"><i class="fa fa-times"></i>{{ 'mnoe_admin_panel.dashboard.product_markups.add_markup.modal.cancel' | translate}}</a>
      </div>
    </div>
  </div>

</div>
