<mno-widget id="teams" icon="fa-users" heading="Teams" is-loading="$ctrl.isTeamsLoading">
  <mno-widget-header>
  </mno-widget-header>
  <mno-widget-body class="large no-padding">
    <div>
      <table class="table table-layout-fixed">
        <thead>
          <tr>
            <th class="col-xs-2">Team name</th>
            <th class="col-xs-9 text-center">Apps</th>
            <th class="col-xs-1"></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat-start="team in $ctrl.teams">
            <td class="highlight-clickable" ng-click="$ctrl.toggleTeam(team)">{{team.name}}</td>  
            <td>
              <div class="bs-row row apps-box">
                <div ng-if="$ctrl.hasApps(team.app_instances)" class="app-wrapper col-xs-3 col-sm-2 col-md-1" ng-repeat="app in team.app_instances">
                  <div class="small-app-card ellipsis">
                    <img ng-src="{{::app.logo}}" width="60">
                    <span>{{::app.name}}</span>
                  </div>
                </div>
              </div>
              <div class="text-center" ng-if="!$ctrl.hasApps(team.app_instances)">
                no apps in this team
              </div>
            </td>
            <td ng-click="$ctrl.toggleTeam(team)" class="text-mute highlight">users
              <span ng-if="team.expanded">[-]</span> 
              <span ng-if="!team.expanded">[+]</span>
              ({{team.users.length}})
            </td>
          </tr>
          <tr id="sub-table" ng-show="team.expanded" ng-repeat-end>
            <td colspan="12">
              <table class="table table-striped table-responsive no-margin-bottom">
                <thead>
                  <tr ng-if="!$ctrl.hasUsers(team.users)">
                    <th class="col-xs-12 text-center">No users in this team</th>
                  </tr>
                  <tr ng-if="$ctrl.hasUsers(team.users)">
                    <th class="col-xs-2">Name</th>
                    <th class="col-xs-2">Surname</th>
                    <th class="col-xs-5">Email</th>
                    <th class="col-xs-3">role</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="highlight" ng-if="$ctrl.hasUsers(team.users)" ng-repeat="user in team.users">
                    <td>{{user.name}}</td>
                    <td>{{user.surname}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.role}}</td>
              </table>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </mno-widget-body>
</mno-widget>

