#teams {

  .table > tbody > tr > td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: inherit;
    border-top: 1px solid #d8d8d8;
  }

  .badge-colour {
    background-color: #337ab7;
  }
}

#sub-table {
  background-color: #f1f1f1;
  font-size: 12px;
  .no-margin-bottom {
    margin-bottom: 0px;
  }
}
